In [1]:
import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime

In [2]:
 
df = pd.read_table("https://ia800900.us.archive.org/21/items/third-eye/2017-09-07-tweets.tsv", names=["datetime", "network", "duration", "network_info", "text"])

In [3]:
lst = pd.date_range(start="2017-09-07",end="2018-09-01", freq="D")

In [4]:
d = pd.DataFrame()

In [6]:

d["2017-09-07"] = lst
d["2017-09-11"] = pd.to_datetime(d["2017-09-07"]).dt.to_period(freq="D")

In [7]:
d["2017-09-11"] = d["2017-09-11"].dt.strftime("%Y-%m-%d")

In [8]:
d.head()

  2017-09-07  2017-09-11
0 2017-09-07  2017-09-07
1 2017-09-08  2017-09-08
2 2017-09-09  2017-09-09
3 2017-09-10  2017-09-10
4 2017-09-11  2017-09-11

In [9]:
d.tail()

    2017-09-07  2017-09-11
355 2018-08-28  2018-08-28
356 2018-08-29  2018-08-29
357 2018-08-30  2018-08-30
358 2018-08-31  2018-08-31
359 2018-09-01  2018-09-01

In [10]:
type(d.iloc[1,1])

str

In [11]:
old_url = "https://ia800900.us.archive.org/21/items/third-eye/2017-09-07-tweets.tsv"
old_date = "2017-09-07"
for x in range(1, len(d)):
    
    new_date = d.iloc[x,1]
    print(new_date)
    old_url = "https://ia800900.us.archive.org/21/items/third-eye/2017-09-07-tweets.tsv"
    new_url = old_url.replace(old_date, new_date)
    try:
        df_new = pd.read_table(new_url, names=["datetime", "network", "duration", "network_info", "text"])
        df = pd.concat([df, df_new], axis=0)
    except Exception:
        continue

2017-09-08
2017-09-09
2017-09-10
2017-09-11
2017-09-12
2017-09-13
2017-09-14
2017-09-15
2017-09-16
2017-09-17
2017-09-18
2017-09-19
2017-09-20
2017-09-21
2017-09-22
2017-09-23
2017-09-24
2017-09-25
2017-09-26
2017-09-27
2017-09-28
2017-09-29
2017-09-30
2017-10-01
2017-10-02
2017-10-03
2017-10-04
2017-10-05
2017-10-06
2017-10-07
2017-10-08
2017-10-09
2017-10-10
2017-10-11
2017-10-12
2017-10-13
2017-10-14
2017-10-15
2017-10-16
2017-10-17
2017-10-18
2017-10-19
2017-10-20
2017-10-21
2017-10-22
2017-10-23
2017-10-24
2017-10-25
2017-10-26
2017-10-27
2017-10-28
2017-10-29
2017-10-30
2017-10-31
2017-11-01
2017-11-02
2017-11-03
2017-11-04
2017-11-05
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-11
2017-11-12
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-18
2017-11-19
2017-11-20
2017-11-21
2017-11-22
2017-11-23
2017-11-24
2017-11-25
2017-11-26
2017-11-27
2017-11-28
2017-11-29
2017-11-30
2017-12-01
2017-12-02
2017-12-03
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-09
2017-12-10
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-16
2017-12-17
2017-12-18
2017-12-19
2017-12-20
2017-12-21
2017-12-22
2017-12-23
2017-12-24
2017-12-25
2017-12-26
2017-12-27
2017-12-28
2017-12-29
2017-12-30
2017-12-31
2018-01-01
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-06
2018-01-07
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-13
2018-01-14
2018-01-15
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-20
2018-01-21
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-27
2018-01-28
2018-01-29
2018-01-30
2018-01-31
2018-02-01
2018-02-02
2018-02-03
2018-02-04
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-10
2018-02-11
2018-02-12
2018-02-13
2018-02-14
2018-02-15
2018-02-16
2018-02-17
2018-02-18
2018-02-19
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-24
2018-02-25
2018-02-26
2018-02-27
2018-02-28
2018-03-01
2018-03-02
2018-03-03
2018-03-04
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-10
2018-03-11
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-17
2018-03-18
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-24
2018-03-25
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-03-30
2018-03-31
2018-04-01
2018-04-02
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-07
2018-04-08
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-14
2018-04-15
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-21
2018-04-22
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-04-28
2018-04-29
2018-04-30
2018-05-01
2018-05-02
2018-05-03
2018-05-04
2018-05-05
2018-05-06
2018-05-07
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-12
2018-05-13
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-19
2018-05-20
2018-05-21
2018-05-22
2018-05-23
2018-05-24
2018-05-25
2018-05-26
2018-05-27
2018-05-28
2018-05-29
2018-05-30
2018-05-31
2018-06-01
2018-06-02
2018-06-03
2018-06-04
2018-06-05
2018-06-06
2018-06-07
2018-06-08
2018-06-09
2018-06-10
2018-06-11
2018-06-12
2018-06-13
2018-06-14
2018-06-15
2018-06-16
2018-06-17
2018-06-18
2018-06-19
2018-06-20
2018-06-21
2018-06-22
2018-06-23
2018-06-24
2018-06-25
2018-06-26
2018-06-27
2018-06-28
2018-06-29
2018-06-30
2018-07-01
2018-07-02
2018-07-03
2018-07-04
2018-07-05
2018-07-06
2018-07-07
2018-07-08
2018-07-09
2018-07-10
2018-07-11
2018-07-12
2018-07-13
2018-07-14
2018-07-15
2018-07-16
2018-07-17
2018-07-18
2018-07-19
2018-07-20
2018-07-21
2018-07-22
2018-07-23
2018-07-24
2018-07-25
2018-07-26
2018-07-27
2018-07-28
2018-07-29
2018-07-30
2018-07-31
2018-08-01
2018-08-02
2018-08-03
2018-08-04
2018-08-05
2018-08-06
2018-08-07
2018-08-08
2018-08-09
2018-08-10
2018-08-11
2018-08-12
2018-08-13
2018-08-14
2018-08-15
2018-08-16
2018-08-17
2018-08-18
2018-08-19
2018-08-20
2018-08-21
2018-08-22
2018-08-23
2018-08-24
2018-08-25
2018-08-26
2018-08-27
2018-08-28
2018-08-29
2018-08-30
2018-08-31
2018-09-01

In [12]:
df_2017 = df.copy()

In [13]:
df_2017.head()

,datetime,network,duration,network_info,text
0,2017-09-07 00:53:00,BBCNEWS,17.0,BBCNEWS_20170907_004500_Sport_Today/start/480,JASON HOLDER. West Indies Captain\nSPORT TODAV
1,2017-09-07 01:04:00,CNNW,27.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...
2,2017-09-07 01:04:00,FOXNEWSW,34.0,FOXNEWSW_20170907_010000_The_Five/start/240,PRES TRUMP: NO SECOND THOUGHTS ON DACA DECISION
3,2017-09-07 01:05:00,CNNW,23.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...
4,2017-09-07 01:05:00,FOXNEWSW,7.0,FOXNEWSW_20170907_010000_The_Five/start/300,PRES TRUMP: TIME FOR CONGRE\u00a7\u00a7 TO TAC...

In [14]:
df_2017.tail()

,datetime,network,duration,network_info,text
2256,2018-09-01 23:56:00,MSNBCW,29.0,MSNBCW_20180901_230000_The_Rachel_Maddow_Show/...,PROSECUTORS SAY SAM PATTEN LIED AND OBSTRUCTED...
2257,2018-09-01 23:57:00,FOXNEWSW,28.0,FOXNEWSW_20180901_230000_FOX_Report_With_Jon_S...,SC GRAMMAR SCHOOL STUDENTS SELL LEMONADE. ! RA...
2258,2018-09-01 23:57:00,MSNBCW,10.0,MSNBCW_20180901_230000_The_Rachel_Maddow_Show/...,SENATE INTEL. COMMITTEE CHAIRMAN SAYS COMMITTE...
2259,2018-09-01 23:58:00,FOXNEWSW,58.0,FOXNEWSW_20180901_230000_FOX_Report_With_Jon_S...,SC GRAMMAR SCHOOL STUDENTS SELL LEMONADE. l RA...
2260,2018-09-01 23:58:00,MSNBCW,3.0,MSNBCW_20180901_230000_The_Rachel_Maddow_Show/...,Nm'\u00e9u bum wiu \u00abMW. See me? lnr am; W...

In [15]:
df_2017["text"].str.lower().str.contains("climate").value_counts()

False    845118
True        868
Name: text, dtype: int64

In [16]:
lst = list(np.where(df_2017["text"].str.lower().str.contains("climate") == True))

In [18]:
df_2017.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/2017_data.csv")

In [19]:
 
df_2018 = pd.read_table("https://ia800900.us.archive.org/21/items/third-eye/2018-09-02-tweets.tsv", names=["datetime", "network", "duration", "network_info", "text"])

In [20]:
lst = pd.date_range(start="2018-09-02",end="2019-09-01", freq="D")

In [21]:
d = pd.DataFrame()

In [22]:

d["2018-09-03"] = lst
d["2019-09-01"] = pd.to_datetime(d["2018-09-03"]).dt.to_period(freq="D")

In [23]:
d["2019-09-01"] = d["2019-09-01"].dt.strftime("%Y-%m-%d")

In [24]:
d.head()

  2018-09-03  2019-09-01
0 2018-09-02  2018-09-02
1 2018-09-03  2018-09-03
2 2018-09-04  2018-09-04
3 2018-09-05  2018-09-05
4 2018-09-06  2018-09-06

In [25]:
d.tail()

    2018-09-03  2019-09-01
360 2019-08-28  2019-08-28
361 2019-08-29  2019-08-29
362 2019-08-30  2019-08-30
363 2019-08-31  2019-08-31
364 2019-09-01  2019-09-01

In [26]:
type(d.iloc[1,1])

str

In [27]:
old_url = "https://ia800900.us.archive.org/21/items/third-eye/2018-09-02-tweets.tsv"
old_date = "2018-09-02"
for x in range(1, len(d)):
    
    new_date = d.iloc[x,1]
    print(new_date)
    new_url = old_url.replace(old_date, new_date)
    try:
        df_new = pd.read_table(new_url, names=["datetime", "network", "duration", "network_info", "text"])
        df_2018 = pd.concat([df_2018, df_new], axis=0)
    except Exception:
        continue

2018-09-03
2018-09-04
2018-09-05
2018-09-06
2018-09-07
2018-09-08
2018-09-09
2018-09-10
2018-09-11
2018-09-12
2018-09-13
2018-09-14
2018-09-15
2018-09-16
2018-09-17
2018-09-18
2018-09-19
2018-09-20
2018-09-21
2018-09-22
2018-09-23
2018-09-24
2018-09-25
2018-09-26
2018-09-27
2018-09-28
2018-09-29
2018-09-30
2018-10-01
2018-10-02
2018-10-03
2018-10-04
2018-10-05
2018-10-06
2018-10-07
2018-10-08
2018-10-09
2018-10-10
2018-10-11
2018-10-12
2018-10-13
2018-10-14
2018-10-15
2018-10-16
2018-10-17
2018-10-18
2018-10-19
2018-10-20
2018-10-21
2018-10-22
2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-27
2018-10-28
2018-10-29
2018-10-30
2018-10-31
2018-11-01
2018-11-02
2018-11-03
2018-11-04
2018-11-05
2018-11-06
2018-11-07
2018-11-08
2018-11-09
2018-11-10
2018-11-11
2018-11-12
2018-11-13
2018-11-14
2018-11-15
2018-11-16
2018-11-17
2018-11-18
2018-11-19
2018-11-20
2018-11-21
2018-11-22
2018-11-23
2018-11-24
2018-11-25
2018-11-26
2018-11-27
2018-11-28
2018-11-29
2018-11-30
2018-12-01
2018-12-02
2018-12-03
2018-12-04
2018-12-05
2018-12-06
2018-12-07
2018-12-08
2018-12-09
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-15
2018-12-16
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-22
2018-12-23
2018-12-24
2018-12-25
2018-12-26
2018-12-27
2018-12-28
2018-12-29
2018-12-30
2018-12-31
2019-01-01
2019-01-02
2019-01-03
2019-01-04
2019-01-05
2019-01-06
2019-01-07
2019-01-08
2019-01-09
2019-01-10
2019-01-11
2019-01-12
2019-01-13
2019-01-14
2019-01-15
2019-01-16
2019-01-17
2019-01-18
2019-01-19
2019-01-20
2019-01-21
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-26
2019-01-27
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-02-01
2019-02-02
2019-02-03
2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10
2019-02-11
2019-02-12
2019-02-13
2019-02-14
2019-02-15
2019-02-16
2019-02-17
2019-02-18
2019-02-19
2019-02-20
2019-02-21
2019-02-22
2019-02-23
2019-02-24
2019-02-25
2019-02-26
2019-02-27
2019-02-28
2019-03-01
2019-03-02
2019-03-03
2019-03-04
2019-03-05
2019-03-06
2019-03-07
2019-03-08
2019-03-09
2019-03-10
2019-03-11
2019-03-12
2019-03-13
2019-03-14
2019-03-15
2019-03-16
2019-03-17
2019-03-18
2019-03-19
2019-03-20
2019-03-21
2019-03-22
2019-03-23
2019-03-24
2019-03-25
2019-03-26
2019-03-27
2019-03-28
2019-03-29
2019-03-30
2019-03-31
2019-04-01
2019-04-02
2019-04-03
2019-04-04
2019-04-05
2019-04-06
2019-04-07
2019-04-08
2019-04-09
2019-04-10
2019-04-11
2019-04-12
2019-04-13
2019-04-14
2019-04-15
2019-04-16
2019-04-17
2019-04-18
2019-04-19
2019-04-20
2019-04-21
2019-04-22
2019-04-23
2019-04-24
2019-04-25
2019-04-26
2019-04-27
2019-04-28
2019-04-29
2019-04-30
2019-05-01
2019-05-02
2019-05-03
2019-05-04
2019-05-05
2019-05-06
2019-05-07
2019-05-08
2019-05-09
2019-05-10
2019-05-11
2019-05-12
2019-05-13
2019-05-14
2019-05-15
2019-05-16
2019-05-17
2019-05-18
2019-05-19
2019-05-20
2019-05-21
2019-05-22
2019-05-23
2019-05-24
2019-05-25
2019-05-26
2019-05-27
2019-05-28
2019-05-29
2019-05-30
2019-05-31
2019-06-01
2019-06-02
2019-06-03
2019-06-04
2019-06-05
2019-06-06
2019-06-07
2019-06-08
2019-06-09
2019-06-10
2019-06-11
2019-06-12
2019-06-13
2019-06-14
2019-06-15
2019-06-16
2019-06-17
2019-06-18
2019-06-19
2019-06-20
2019-06-21
2019-06-22
2019-06-23
2019-06-24
2019-06-25
2019-06-26
2019-06-27
2019-06-28
2019-06-29
2019-06-30
2019-07-01
2019-07-02
2019-07-03
2019-07-04
2019-07-05
2019-07-06
2019-07-07
2019-07-08
2019-07-09
2019-07-10
2019-07-11
2019-07-12
2019-07-13
2019-07-14
2019-07-15
2019-07-16
2019-07-17
2019-07-18
2019-07-19
2019-07-20
2019-07-21
2019-07-22
2019-07-23
2019-07-24
2019-07-25
2019-07-26
2019-07-27
2019-07-28
2019-07-29
2019-07-30
2019-07-31
2019-08-01
2019-08-02
2019-08-03
2019-08-04
2019-08-05
2019-08-06
2019-08-07
2019-08-08
2019-08-09
2019-08-10
2019-08-11
2019-08-12
2019-08-13
2019-08-14
2019-08-15
2019-08-16
2019-08-17
2019-08-18
2019-08-19
2019-08-20
2019-08-21
2019-08-22
2019-08-23
2019-08-24
2019-08-25
2019-08-26
2019-08-27
2019-08-28
2019-08-29
2019-08-30
2019-08-31
2019-09-01

In [28]:
df_2018.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/2018_data.csv")

In [29]:
 
df_2019 = pd.read_table("https://ia800900.us.archive.org/21/items/third-eye/2019-09-02-tweets.tsv", names=["datetime", "network", "duration", "network_info", "text"])

In [30]:
lst = pd.date_range(start="2019-09-02",end="2020-09-01", freq="D")

In [31]:
d = pd.DataFrame()

In [33]:

d["2019-09-03"] = lst
d["2020-09-01"] = pd.to_datetime(d["2019-09-03"]).dt.to_period(freq="D")

In [34]:
d["2020-09-01"] = d["2020-09-01"].dt.strftime("%Y-%m-%d")

In [35]:
d.head()

  2019-09-03  2020-09-01
0 2019-09-02  2019-09-02
1 2019-09-03  2019-09-03
2 2019-09-04  2019-09-04
3 2019-09-05  2019-09-05
4 2019-09-06  2019-09-06

In [36]:
d.tail()

    2019-09-03  2020-09-01
361 2020-08-28  2020-08-28
362 2020-08-29  2020-08-29
363 2020-08-30  2020-08-30
364 2020-08-31  2020-08-31
365 2020-09-01  2020-09-01

In [37]:
type(d.iloc[1,1])

str

In [38]:
old_url = "https://ia800900.us.archive.org/21/items/third-eye/2019-09-02-tweets.tsv"
old_date = "2019-09-02"
for x in range(1, len(d)):
    
    new_date = d.iloc[x,1]
    print(new_date)
    new_url = old_url.replace(old_date, new_date)
    try:
        df_new = pd.read_table(new_url, names=["datetime", "network", "duration", "network_info", "text"])
        df_2018 = pd.concat([df_2018, df_new], axis=0)
    except Exception:
        continue

2019-09-03
2019-09-04
2019-09-05
2019-09-06
2019-09-07
2019-09-08
2019-09-09
2019-09-10
2019-09-11
2019-09-12
2019-09-13
2019-09-14
2019-09-15
2019-09-16
2019-09-17
2019-09-18
2019-09-19
2019-09-20
2019-09-21
2019-09-22
2019-09-23
2019-09-24
2019-09-25
2019-09-26
2019-09-27
2019-09-28
2019-09-29
2019-09-30
2019-10-01
2019-10-02
2019-10-03
2019-10-04
2019-10-05
2019-10-06
2019-10-07
2019-10-08
2019-10-09
2019-10-10
2019-10-11
2019-10-12
2019-10-13
2019-10-14
2019-10-15
2019-10-16
2019-10-17
2019-10-18
2019-10-19
2019-10-20
2019-10-21
2019-10-22
2019-10-23
2019-10-24
2019-10-25
2019-10-26
2019-10-27
2019-10-28
2019-10-29
2019-10-30
2019-10-31
2019-11-01
2019-11-02
2019-11-03
2019-11-04
2019-11-05
2019-11-06
2019-11-07
2019-11-08
2019-11-09
2019-11-10
2019-11-11
2019-11-12
2019-11-13
2019-11-14
2019-11-15
2019-11-16
2019-11-17
2019-11-18
2019-11-19
2019-11-20
2019-11-21
2019-11-22
2019-11-23
2019-11-24
2019-11-25
2019-11-26
2019-11-27
2019-11-28
2019-11-29
2019-11-30
2019-12-01
2019-12-02
2019-12-03
2019-12-04
2019-12-05
2019-12-06
2019-12-07
2019-12-08
2019-12-09
2019-12-10
2019-12-11
2019-12-12
2019-12-13
2019-12-14
2019-12-15
2019-12-16
2019-12-17
2019-12-18
2019-12-19
2019-12-20
2019-12-21
2019-12-22
2019-12-23
2019-12-24
2019-12-25
2019-12-26
2019-12-27
2019-12-28
2019-12-29
2019-12-30
2019-12-31
2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-12
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-18
2020-01-19
2020-01-20
2020-01-21
2020-01-22
2020-01-23
2020-01-24
2020-01-25
2020-01-26
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31
2020-02-01
2020-02-02
2020-02-03
2020-02-04
2020-02-05
2020-02-06
2020-02-07
2020-02-08
2020-02-09
2020-02-10
2020-02-11
2020-02-12
2020-02-13
2020-02-14
2020-02-15
2020-02-16
2020-02-17
2020-02-18
2020-02-19
2020-02-20
2020-02-21
2020-02-22
2020-02-23
2020-02-24
2020-02-25
2020-02-26
2020-02-27
2020-02-28
2020-02-29
2020-03-01
2020-03-02
2020-03-03
2020-03-04
2020-03-05
2020-03-06
2020-03-07
2020-03-08
2020-03-09
2020-03-10
2020-03-11
2020-03-12
2020-03-13
2020-03-14
2020-03-15
2020-03-16
2020-03-17
2020-03-18
2020-03-19
2020-03-20
2020-03-21
2020-03-22
2020-03-23
2020-03-24
2020-03-25
2020-03-26
2020-03-27
2020-03-28
2020-03-29
2020-03-30
2020-03-31
2020-04-01
2020-04-02
2020-04-03
2020-04-04
2020-04-05
2020-04-06
2020-04-07
2020-04-08
2020-04-09
2020-04-10
2020-04-11
2020-04-12
2020-04-13
2020-04-14
2020-04-15
2020-04-16
2020-04-17
2020-04-18
2020-04-19
2020-04-20
2020-04-21
2020-04-22
2020-04-23
2020-04-24
2020-04-25
2020-04-26
2020-04-27
2020-04-28
2020-04-29
2020-04-30
2020-05-01
2020-05-02
2020-05-03
2020-05-04
2020-05-05
2020-05-06
2020-05-07
2020-05-08
2020-05-09
2020-05-10
2020-05-11
2020-05-12
2020-05-13
2020-05-14
2020-05-15
2020-05-16
2020-05-17
2020-05-18
2020-05-19
2020-05-20
2020-05-21
2020-05-22
2020-05-23
2020-05-24
2020-05-25
2020-05-26
2020-05-27
2020-05-28
2020-05-29
2020-05-30
2020-05-31
2020-06-01
2020-06-02
2020-06-03
2020-06-04
2020-06-05
2020-06-06
2020-06-07
2020-06-08
2020-06-09
2020-06-10
2020-06-11
2020-06-12
2020-06-13
2020-06-14
2020-06-15
2020-06-16
2020-06-17
2020-06-18
2020-06-19
2020-06-20
2020-06-21
2020-06-22
2020-06-23
2020-06-24
2020-06-25
2020-06-26
2020-06-27
2020-06-28
2020-06-29
2020-06-30
2020-07-01
2020-07-02
2020-07-03
2020-07-04
2020-07-05
2020-07-06
2020-07-07
2020-07-08
2020-07-09
2020-07-10
2020-07-11
2020-07-12
2020-07-13
2020-07-14
2020-07-15
2020-07-16
2020-07-17
2020-07-18
2020-07-19
2020-07-20
2020-07-21
2020-07-22
2020-07-23
2020-07-24
2020-07-25
2020-07-26
2020-07-27
2020-07-28
2020-07-29
2020-07-30
2020-07-31
2020-08-01
2020-08-02
2020-08-03
2020-08-04
2020-08-05
2020-08-06
2020-08-07
2020-08-08
2020-08-09
2020-08-10
2020-08-11
2020-08-12
2020-08-13
2020-08-14
2020-08-15
2020-08-16
2020-08-17
2020-08-18
2020-08-19
2020-08-20
2020-08-21
2020-08-22
2020-08-23
2020-08-24
2020-08-25
2020-08-26
2020-08-27
2020-08-28
2020-08-29
2020-08-30
2020-08-31
2020-09-01

In [39]:
df_2019.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/2019_data.csv")

In [40]:
 
df_2020 = pd.read_table("https://ia800900.us.archive.org/21/items/third-eye/2020-09-02-tweets.tsv", names=["datetime", "network", "duration", "network_info", "text"])

In [41]:
lst = pd.date_range(start="2020-09-02",end="2021-09-01", freq="D")

In [42]:
d = pd.DataFrame()

In [43]:

d["2020-09-02"] = lst
d["2021-09-01"] = pd.to_datetime(d["2020-09-02"]).dt.to_period(freq="D")

In [44]:
d["2021-09-01"] = d["2021-09-01"].dt.strftime("%Y-%m-%d")

In [45]:
d.head()

  2020-09-02  2021-09-01
0 2020-09-02  2020-09-02
1 2020-09-03  2020-09-03
2 2020-09-04  2020-09-04
3 2020-09-05  2020-09-05
4 2020-09-06  2020-09-06

In [46]:
d.tail()

    2020-09-02  2021-09-01
360 2021-08-28  2021-08-28
361 2021-08-29  2021-08-29
362 2021-08-30  2021-08-30
363 2021-08-31  2021-08-31
364 2021-09-01  2021-09-01

In [47]:
type(d.iloc[1,1])

str

In [48]:
old_url = "https://ia800900.us.archive.org/21/items/third-eye/2020-09-02-tweets.tsv"
old_date = "2020-09-02"
for x in range(1, len(d)):
    
    new_date = d.iloc[x,1]
    print(new_date)
    new_url = old_url.replace(old_date, new_date)
    try:
        df_new = pd.read_table(new_url, names=["datetime", "network", "duration", "network_info", "text"])
        df_2020 = pd.concat([df_2020, df_new], axis=0)
    except Exception:
        continue

2020-09-03
2020-09-04
2020-09-05
2020-09-06
2020-09-07
2020-09-08
2020-09-09
2020-09-10
2020-09-11
2020-09-12
2020-09-13
2020-09-14
2020-09-15
2020-09-16
2020-09-17
2020-09-18
2020-09-19
2020-09-20
2020-09-21
2020-09-22
2020-09-23
2020-09-24
2020-09-25
2020-09-26
2020-09-27
2020-09-28
2020-09-29
2020-09-30
2020-10-01
2020-10-02
2020-10-03
2020-10-04
2020-10-05
2020-10-06
2020-10-07
2020-10-08
2020-10-09
2020-10-10
2020-10-11
2020-10-12
2020-10-13
2020-10-14
2020-10-15
2020-10-16
2020-10-17
2020-10-18
2020-10-19
2020-10-20
2020-10-21
2020-10-22
2020-10-23
2020-10-24
2020-10-25
2020-10-26
2020-10-27
2020-10-28
2020-10-29
2020-10-30
2020-10-31
2020-11-01
2020-11-02
2020-11-03
2020-11-04
2020-11-05
2020-11-06
2020-11-07
2020-11-08
2020-11-09
2020-11-10
2020-11-11
2020-11-12
2020-11-13
2020-11-14
2020-11-15
2020-11-16
2020-11-17
2020-11-18
2020-11-19
2020-11-20
2020-11-21
2020-11-22
2020-11-23
2020-11-24
2020-11-25
2020-11-26
2020-11-27
2020-11-28
2020-11-29
2020-11-30
2020-12-01
2020-12-02
2020-12-03
2020-12-04
2020-12-05
2020-12-06
2020-12-07
2020-12-08
2020-12-09
2020-12-10
2020-12-11
2020-12-12
2020-12-13
2020-12-14
2020-12-15
2020-12-16
2020-12-17
2020-12-18
2020-12-19
2020-12-20
2020-12-21
2020-12-22
2020-12-23
2020-12-24
2020-12-25
2020-12-26
2020-12-27
2020-12-28
2020-12-29
2020-12-30
2020-12-31
2021-01-01
2021-01-02
2021-01-03
2021-01-04
2021-01-05
2021-01-06
2021-01-07
2021-01-08
2021-01-09
2021-01-10
2021-01-11
2021-01-12
2021-01-13
2021-01-14
2021-01-15
2021-01-16
2021-01-17
2021-01-18
2021-01-19
2021-01-20
2021-01-21
2021-01-22
2021-01-23
2021-01-24
2021-01-25
2021-01-26
2021-01-27
2021-01-28
2021-01-29
2021-01-30
2021-01-31
2021-02-01
2021-02-02
2021-02-03
2021-02-04
2021-02-05
2021-02-06
2021-02-07
2021-02-08
2021-02-09
2021-02-10
2021-02-11
2021-02-12
2021-02-13
2021-02-14
2021-02-15
2021-02-16
2021-02-17
2021-02-18
2021-02-19
2021-02-20
2021-02-21
2021-02-22
2021-02-23
2021-02-24
2021-02-25
2021-02-26
2021-02-27
2021-02-28
2021-03-01
2021-03-02
2021-03-03
2021-03-04
2021-03-05
2021-03-06
2021-03-07
2021-03-08
2021-03-09
2021-03-10
2021-03-11
2021-03-12
2021-03-13
2021-03-14
2021-03-15
2021-03-16
2021-03-17
2021-03-18
2021-03-19
2021-03-20
2021-03-21
2021-03-22
2021-03-23
2021-03-24
2021-03-25
2021-03-26
2021-03-27
2021-03-28
2021-03-29
2021-03-30
2021-03-31
2021-04-01
2021-04-02
2021-04-03
2021-04-04
2021-04-05
2021-04-06
2021-04-07
2021-04-08
2021-04-09
2021-04-10
2021-04-11
2021-04-12
2021-04-13
2021-04-14
2021-04-15
2021-04-16
2021-04-17
2021-04-18
2021-04-19
2021-04-20
2021-04-21
2021-04-22
2021-04-23
2021-04-24
2021-04-25
2021-04-26
2021-04-27
2021-04-28
2021-04-29
2021-04-30
2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12
2021-05-13
2021-05-14
2021-05-15
2021-05-16
2021-05-17
2021-05-18
2021-05-19
2021-05-20
2021-05-21
2021-05-22
2021-05-23
2021-05-24
2021-05-25
2021-05-26
2021-05-27
2021-05-28
2021-05-29
2021-05-30
2021-05-31
2021-06-01
2021-06-02
2021-06-03
2021-06-04
2021-06-05
2021-06-06
2021-06-07
2021-06-08
2021-06-09
2021-06-10
2021-06-11
2021-06-12
2021-06-13
2021-06-14
2021-06-15
2021-06-16
2021-06-17
2021-06-18
2021-06-19
2021-06-20
2021-06-21
2021-06-22
2021-06-23
2021-06-24
2021-06-25
2021-06-26
2021-06-27
2021-06-28
2021-06-29
2021-06-30
2021-07-01
2021-07-02
2021-07-03
2021-07-04
2021-07-05
2021-07-06
2021-07-07
2021-07-08
2021-07-09
2021-07-10
2021-07-11
2021-07-12
2021-07-13
2021-07-14
2021-07-15
2021-07-16
2021-07-17
2021-07-18
2021-07-19
2021-07-20
2021-07-21
2021-07-22
2021-07-23
2021-07-24
2021-07-25
2021-07-26
2021-07-27
2021-07-28
2021-07-29
2021-07-30
2021-07-31
2021-08-01
2021-08-02
2021-08-03
2021-08-04
2021-08-05
2021-08-06
2021-08-07
2021-08-08
2021-08-09
2021-08-10
2021-08-11
2021-08-12
2021-08-13
2021-08-14
2021-08-15
2021-08-16
2021-08-17
2021-08-18
2021-08-19
2021-08-20
2021-08-21
2021-08-22
2021-08-23
2021-08-24
2021-08-25
2021-08-26
2021-08-27
2021-08-28
2021-08-29
2021-08-30
2021-08-31
2021-09-01

In [49]:
df_2020.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/2020_data.csv")

In [50]:
 
df_2022 = pd.read_table("https://ia800900.us.archive.org/21/items/third-eye/2022-09-02-tweets.tsv", names=["datetime", "network", "duration", "network_info", "text"])

In [51]:
d = pd.DataFrame()

In [52]:
lst = pd.date_range(start="2022-09-02",end="2023-07-02", freq="D")

In [53]:

d["2022-09-03"] = lst
d["2022-09-01"] = pd.to_datetime(d["2022-09-03"]).dt.to_period(freq="D")

In [54]:
d["2022-09-01"] = d["2022-09-01"].dt.strftime("%Y-%m-%d")

In [55]:
d.head()

  2022-09-03  2022-09-01
0 2022-09-02  2022-09-02
1 2022-09-03  2022-09-03
2 2022-09-04  2022-09-04
3 2022-09-05  2022-09-05
4 2022-09-06  2022-09-06

In [56]:
d.tail()

    2022-09-03  2022-09-01
299 2023-06-28  2023-06-28
300 2023-06-29  2023-06-29
301 2023-06-30  2023-06-30
302 2023-07-01  2023-07-01
303 2023-07-02  2023-07-02

In [57]:
type(d.iloc[1,1])

str

In [58]:
old_url = "https://ia800900.us.archive.org/21/items/third-eye/2022-09-02-tweets.tsv"
old_date = "2022-09-02"
for x in range(1, len(d)):
    
    new_date = d.iloc[x,1]
    print(new_date)
    new_url = old_url.replace(old_date, new_date)
    try:
        df_new = pd.read_table(new_url, names=["datetime", "network", "duration", "network_info", "text"])
        df_2022 = pd.concat([df_2022, df_new], axis=0)
    except Exception:
        continue

2022-09-03
2022-09-04
2022-09-05
2022-09-06
2022-09-07
2022-09-08
2022-09-09
2022-09-10
2022-09-11
2022-09-12
2022-09-13
2022-09-14
2022-09-15
2022-09-16
2022-09-17
2022-09-18
2022-09-19
2022-09-20
2022-09-21
2022-09-22
2022-09-23
2022-09-24
2022-09-25
2022-09-26
2022-09-27
2022-09-28
2022-09-29
2022-09-30
2022-10-01
2022-10-02
2022-10-03
2022-10-04
2022-10-05
2022-10-06
2022-10-07
2022-10-08
2022-10-09
2022-10-10
2022-10-11
2022-10-12
2022-10-13
2022-10-14
2022-10-15
2022-10-16
2022-10-17
2022-10-18
2022-10-19
2022-10-20
2022-10-21
2022-10-22
2022-10-23
2022-10-24
2022-10-25
2022-10-26
2022-10-27
2022-10-28
2022-10-29
2022-10-30
2022-10-31
2022-11-01
2022-11-02
2022-11-03
2022-11-04
2022-11-05
2022-11-06
2022-11-07
2022-11-08
2022-11-09
2022-11-10
2022-11-11
2022-11-12
2022-11-13
2022-11-14
2022-11-15
2022-11-16
2022-11-17
2022-11-18
2022-11-19
2022-11-20
2022-11-21
2022-11-22
2022-11-23
2022-11-24
2022-11-25
2022-11-26
2022-11-27
2022-11-28
2022-11-29
2022-11-30
2022-12-01
2022-12-02
2022-12-03
2022-12-04
2022-12-05
2022-12-06
2022-12-07
2022-12-08
2022-12-09
2022-12-10
2022-12-11
2022-12-12
2022-12-13
2022-12-14
2022-12-15
2022-12-16
2022-12-17
2022-12-18
2022-12-19
2022-12-20
2022-12-21
2022-12-22
2022-12-23
2022-12-24
2022-12-25
2022-12-26
2022-12-27
2022-12-28
2022-12-29
2022-12-30
2022-12-31
2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09
2023-02-10
2023-02-11
2023-02-12
2023-02-13
2023-02-14
2023-02-15
2023-02-16
2023-02-17
2023-02-18
2023-02-19
2023-02-20
2023-02-21
2023-02-22
2023-02-23
2023-02-24
2023-02-25
2023-02-26
2023-02-27
2023-02-28
2023-03-01
2023-03-02
2023-03-03
2023-03-04
2023-03-05
2023-03-06
2023-03-07
2023-03-08
2023-03-09
2023-03-10
2023-03-11
2023-03-12
2023-03-13
2023-03-14
2023-03-15
2023-03-16
2023-03-17
2023-03-18
2023-03-19
2023-03-20
2023-03-21
2023-03-22
2023-03-23
2023-03-24
2023-03-25
2023-03-26
2023-03-27
2023-03-28
2023-03-29
2023-03-30
2023-03-31
2023-04-01
2023-04-02
2023-04-03
2023-04-04
2023-04-05
2023-04-06
2023-04-07
2023-04-08
2023-04-09
2023-04-10
2023-04-11
2023-04-12
2023-04-13
2023-04-14
2023-04-15
2023-04-16
2023-04-17
2023-04-18
2023-04-19
2023-04-20
2023-04-21
2023-04-22
2023-04-23
2023-04-24
2023-04-25
2023-04-26
2023-04-27
2023-04-28
2023-04-29
2023-04-30
2023-05-01
2023-05-02
2023-05-03
2023-05-04
2023-05-05
2023-05-06
2023-05-07
2023-05-08
2023-05-09
2023-05-10
2023-05-11
2023-05-12
2023-05-13
2023-05-14
2023-05-15
2023-05-16
2023-05-17
2023-05-18
2023-05-19
2023-05-20
2023-05-21
2023-05-22
2023-05-23
2023-05-24
2023-05-25
2023-05-26
2023-05-27
2023-05-28
2023-05-29
2023-05-30
2023-05-31
2023-06-01
2023-06-02
2023-06-03
2023-06-04
2023-06-05
2023-06-06
2023-06-07
2023-06-08
2023-06-09
2023-06-10
2023-06-11
2023-06-12
2023-06-13
2023-06-14
2023-06-15
2023-06-16
2023-06-17
2023-06-18
2023-06-19
2023-06-20
2023-06-21
2023-06-22
2023-06-23
2023-06-24
2023-06-25
2023-06-26
2023-06-27
2023-06-28
2023-06-29
2023-06-30
2023-07-01
2023-07-02

In [59]:
df_2022.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/2022_data.csv")

In [60]:
 
df_2021 = pd.read_table("https://ia800900.us.archive.org/21/items/third-eye/2021-09-02-tweets.tsv", names=["datetime", "network", "duration", "network_info", "text"])

In [61]:
d = pd.DataFrame()

In [62]:
lst = pd.date_range(start="2021-09-02",end="2022-09-01", freq="D")

In [63]:

d["2021-09-03"] = lst
d["2022-09-01"] = pd.to_datetime(d["2021-09-03"]).dt.to_period(freq="D")

In [64]:
d["2022-09-01"] = d["2022-09-01"].dt.strftime("%Y-%m-%d")

In [65]:
d.head()

  2021-09-03  2022-09-01
0 2021-09-02  2021-09-02
1 2021-09-03  2021-09-03
2 2021-09-04  2021-09-04
3 2021-09-05  2021-09-05
4 2021-09-06  2021-09-06

In [66]:
d.tail()

    2021-09-03  2022-09-01
360 2022-08-28  2022-08-28
361 2022-08-29  2022-08-29
362 2022-08-30  2022-08-30
363 2022-08-31  2022-08-31
364 2022-09-01  2022-09-01

In [67]:
type(d.iloc[1,1])

str

In [68]:
old_url = "https://ia800900.us.archive.org/21/items/third-eye/2021-09-02-tweets.tsv"
old_date = "2021-09-02"
for x in range(1, len(d)):
    
    new_date = d.iloc[x,1]
    print(new_date)
    new_url = old_url.replace(old_date, new_date)
    try:
        df_new = pd.read_table(new_url, names=["datetime", "network", "duration", "network_info", "text"])
        df_2021 = pd.concat([df_2021, df_new], axis=0)
    except Exception:
        continue

2021-09-03
2021-09-04
2021-09-05
2021-09-06
2021-09-07
2021-09-08
2021-09-09
2021-09-10
2021-09-11
2021-09-12
2021-09-13
2021-09-14
2021-09-15
2021-09-16
2021-09-17
2021-09-18
2021-09-19
2021-09-20
2021-09-21
2021-09-22
2021-09-23
2021-09-24
2021-09-25
2021-09-26
2021-09-27
2021-09-28
2021-09-29
2021-09-30
2021-10-01
2021-10-02
2021-10-03
2021-10-04
2021-10-05
2021-10-06
2021-10-07
2021-10-08
2021-10-09
2021-10-10
2021-10-11
2021-10-12
2021-10-13
2021-10-14
2021-10-15
2021-10-16
2021-10-17
2021-10-18
2021-10-19
2021-10-20
2021-10-21
2021-10-22
2021-10-23
2021-10-24
2021-10-25
2021-10-26
2021-10-27
2021-10-28
2021-10-29
2021-10-30
2021-10-31
2021-11-01
2021-11-02
2021-11-03
2021-11-04
2021-11-05
2021-11-06
2021-11-07
2021-11-08
2021-11-09
2021-11-10
2021-11-11
2021-11-12
2021-11-13
2021-11-14
2021-11-15
2021-11-16
2021-11-17
2021-11-18
2021-11-19
2021-11-20
2021-11-21
2021-11-22
2021-11-23
2021-11-24
2021-11-25
2021-11-26
2021-11-27
2021-11-28
2021-11-29
2021-11-30
2021-12-01
2021-12-02
2021-12-03
2021-12-04
2021-12-05
2021-12-06
2021-12-07
2021-12-08
2021-12-09
2021-12-10
2021-12-11
2021-12-12
2021-12-13
2021-12-14
2021-12-15
2021-12-16
2021-12-17
2021-12-18
2021-12-19
2021-12-20
2021-12-21
2021-12-22
2021-12-23
2021-12-24
2021-12-25
2021-12-26
2021-12-27
2021-12-28
2021-12-29
2021-12-30
2021-12-31
2022-01-01
2022-01-02
2022-01-03
2022-01-04
2022-01-05
2022-01-06
2022-01-07
2022-01-08
2022-01-09
2022-01-10
2022-01-11
2022-01-12
2022-01-13
2022-01-14
2022-01-15
2022-01-16
2022-01-17
2022-01-18
2022-01-19
2022-01-20
2022-01-21
2022-01-22
2022-01-23
2022-01-24
2022-01-25
2022-01-26
2022-01-27
2022-01-28
2022-01-29
2022-01-30
2022-01-31
2022-02-01
2022-02-02
2022-02-03
2022-02-04
2022-02-05
2022-02-06
2022-02-07
2022-02-08
2022-02-09
2022-02-10
2022-02-11
2022-02-12
2022-02-13
2022-02-14
2022-02-15
2022-02-16
2022-02-17
2022-02-18
2022-02-19
2022-02-20
2022-02-21
2022-02-22
2022-02-23
2022-02-24
2022-02-25
2022-02-26
2022-02-27
2022-02-28
2022-03-01
2022-03-02
2022-03-03
2022-03-04
2022-03-05
2022-03-06
2022-03-07
2022-03-08
2022-03-09
2022-03-10
2022-03-11
2022-03-12
2022-03-13
2022-03-14
2022-03-15
2022-03-16
2022-03-17
2022-03-18
2022-03-19
2022-03-20
2022-03-21
2022-03-22
2022-03-23
2022-03-24
2022-03-25
2022-03-26
2022-03-27
2022-03-28
2022-03-29
2022-03-30
2022-03-31
2022-04-01
2022-04-02
2022-04-03
2022-04-04
2022-04-05
2022-04-06
2022-04-07
2022-04-08
2022-04-09
2022-04-10
2022-04-11
2022-04-12
2022-04-13
2022-04-14
2022-04-15
2022-04-16
2022-04-17
2022-04-18
2022-04-19
2022-04-20
2022-04-21
2022-04-22
2022-04-23
2022-04-24
2022-04-25
2022-04-26
2022-04-27
2022-04-28
2022-04-29
2022-04-30
2022-05-01
2022-05-02
2022-05-03
2022-05-04
2022-05-05
2022-05-06
2022-05-07
2022-05-08
2022-05-09
2022-05-10
2022-05-11
2022-05-12
2022-05-13
2022-05-14
2022-05-15
2022-05-16
2022-05-17
2022-05-18
2022-05-19
2022-05-20
2022-05-21
2022-05-22
2022-05-23
2022-05-24
2022-05-25
2022-05-26
2022-05-27
2022-05-28
2022-05-29
2022-05-30
2022-05-31
2022-06-01
2022-06-02
2022-06-03
2022-06-04
2022-06-05
2022-06-06
2022-06-07
2022-06-08
2022-06-09
2022-06-10
2022-06-11
2022-06-12
2022-06-13
2022-06-14
2022-06-15
2022-06-16
2022-06-17
2022-06-18
2022-06-19
2022-06-20
2022-06-21
2022-06-22
2022-06-23
2022-06-24
2022-06-25
2022-06-26
2022-06-27
2022-06-28
2022-06-29
2022-06-30
2022-07-01
2022-07-02
2022-07-03
2022-07-04
2022-07-05
2022-07-06
2022-07-07
2022-07-08
2022-07-09
2022-07-10
2022-07-11
2022-07-12
2022-07-13
2022-07-14
2022-07-15
2022-07-16
2022-07-17
2022-07-18
2022-07-19
2022-07-20
2022-07-21
2022-07-22
2022-07-23
2022-07-24
2022-07-25
2022-07-26
2022-07-27
2022-07-28
2022-07-29
2022-07-30
2022-07-31
2022-08-01
2022-08-02
2022-08-03
2022-08-04
2022-08-05
2022-08-06
2022-08-07
2022-08-08
2022-08-09
2022-08-10
2022-08-11
2022-08-12
2022-08-13
2022-08-14
2022-08-15
2022-08-16
2022-08-17
2022-08-18
2022-08-19
2022-08-20
2022-08-21
2022-08-22
2022-08-23
2022-08-24
2022-08-25
2022-08-26
2022-08-27
2022-08-28
2022-08-29
2022-08-30
2022-08-31
2022-09-01

In [69]:
df_2021.head()

,datetime,network,duration,network_info,text
0,2021-09-02 00:00:00,CNNW,28.0,CNNW_20210901_230000_Erin_Burnett_OutFront/sta...,WHITE SUPREMACIST PRAISE OF TALIBAN. TAKEOVER ...
1,2021-09-02 00:01:00,CNNW,38.0,CNNW_20210902_000000_Anderson_Cooper_360/start/60,WHITE SUPREMACIST PRAISE OF TALIBAN. TAKEOVER ...
2,2021-09-02 00:01:00,MSNBCW,33.0,MSNBCW_20210902_000000_All_In_With_Chris_Hayes...,. SUPREME COURT INACTION ALLOWS TEXAS. ANTI-AB...
3,2021-09-02 00:03:00,CNNW,32.0,CNNW_20210902_000000_Anderson_Cooper_360/start...,U.S. OFFICIALS GRAPPLING WITH EXTREMISTS WHO. ...
4,2021-09-02 00:03:00,MSNBCW,45.0,MSNBCW_20210902_000000_All_In_With_Chris_Hayes...,. SUPREME COURT INACTION ALLOWS TEXAS. ANTI-AB...

In [70]:
df_2021.tail()

,datetime,network,duration,network_info,text
3044,2022-09-01 23:57:00,MSNBCW,12,MSNBCW_20220901_230000_The_ReidOut/start/3420,g SOO B 2 R ARV S [ R D] A
3045,2022-09-01 23:58:00,CNNW,62,CNNW_20220901_230000_Erin_Burnett_OutFront/sta...,AWAITING BIDEN PRIMETIME SPEECH ON THREATS TO ...
3046,2022-09-01 23:58:00,MSNBCW,19,MSNBCW_20220901_230000_The_ReidOut/start/3480,g {O B 2 R ARV S [ R D] A\ng SOO B 2 R ARV S [...
3047,2022-09-01 23:59:00,CNNW,41,CNNW_20220901_230000_Erin_Burnett_OutFront/sta...,AWAITING BIDEN PRIMETIME SPEECH ON THREATS TO ...
3048,2022-09-01 23:59:00,MSNBCW,16,MSNBCW_20220901_230000_The_ReidOut/start/3540,| SOON: PRES. BIDEN TO DELIVER PRIMETIME ADDRESS

In [71]:
df_2021.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/2021_data.csv")