In [1]:
import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime

In [2]:
df1 = pd.read_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/raw/2017_data.csv")

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847039 entries, 0 to 847038
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    847039 non-null  int64
 1   datetime      847039 non-null  object
 2   network       845988 non-null  object
 3   duration      845987 non-null  float64
 4   network_info  845987 non-null  object
 5   text          845986 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 38.8+ MB

In [4]:
df1["network"].unique()

array(['BBCNEWS', 'CNNW', 'FOXNEWSW', 'MSNBCW', nan,
       "ICKER INVESTIGATES THE 'CREEPY PORN LAWYER' I. . \\u00a5 ...................."],
      dtype=object)

In [5]:
df1["network"].isnull().value_counts()

False    845988
True       1051
Name: network, dtype: int64

In [6]:
lst = list(np.where(df1["network"].str.contains("ICKER") == True))
lst

[array([570068])]

In [7]:
df1.loc[570068]

Unnamed: 0                                                   1315
datetime                                                        }
network         ICKER INVESTIGATES THE 'CREEPY PORN LAWYER' I....
duration                                                      NaN
network_info                                                  NaN
text                                                          NaN
Name: 570068, dtype: object

In [8]:
df1.drop(570068, axis=0, inplace=True)

In [9]:
df1["network"].unique()

array(['BBCNEWS', 'CNNW', 'FOXNEWSW', 'MSNBCW', nan], dtype=object)

In [10]:
df1["network"].isnull().value_counts()

False    845987
True       1051
Name: network, dtype: int64

In [11]:
lst = df1[df1["network"].isnull()].index.tolist()
lst

[568753,
 568754,
 568755,
 568756,
 568757,
 568758,
 568759,
 568760,
 568761,
 568762,
 568763,
 568764,
 568765,
 568766,
 568767,
 568768,
 568769,
 568770,
 568771,
 568772,
 568773,
 568774,
 568775,
 568776,
 568777,
 568778,
 568779,
 568780,
 568781,
 568782,
 568783,
 568784,
 568785,
 568786,
 568787,
 568788,
 568789,
 568790,
 568791,
 568792,
 568793,
 568794,
 568795,
 568796,
 568797,
 568798,
 568799,
 568800,
 568801,
 568802,
 568803,
 568804,
 568805,
 568806,
 568807,
 568808,
 568809,
 568810,
 568811,
 568812,
 568813,
 568814,
 568815,
 568816,
 568817,
 568818,
 568819,
 568820,
 568821,
 568822,
 568823,
 568824,
 568825,
 568826,
 568827,
 568828,
 568829,
 568830,
 568831,
 568832,
 568833,
 568834,
 568835,
 568836,
 568837,
 568838,
 568839,
 568840,
 568841,
 568842,
 568843,
 568844,
 568845,
 568846,
 568847,
 568848,
 568849,
 568850,
 568851,
 568852,
 568853,
 568854,
 568855,
 568856,
 568857,
 568858,
 568859,
 568860,
 568861,
 568862,
 568863,
 568864,
 568865,
 568866,
 568867,
 568868,
 568869,
 568870,
 568871,
 568872,
 568873,
 568874,
 568875,
 568876,
 568877,
 568878,
 568879,
 568880,
 568881,
 568882,
 568883,
 568884,
 568885,
 568886,
 568887,
 568888,
 568889,
 568890,
 568891,
 568892,
 568893,
 568894,
 568895,
 568896,
 568897,
 568898,
 568899,
 568900,
 568901,
 568902,
 568903,
 568904,
 568905,
 568906,
 568907,
 568908,
 568909,
 568910,
 568911,
 568912,
 568913,
 568914,
 568915,
 568916,
 568917,
 568918,
 568919,
 568920,
 568921,
 568922,
 568923,
 568924,
 568925,
 568926,
 568927,
 568928,
 568929,
 568930,
 568931,
 568932,
 568933,
 568934,
 568935,
 568936,
 568937,
 568938,
 568939,
 568940,
 568941,
 568942,
 568943,
 568944,
 568945,
 568946,
 568947,
 568948,
 568949,
 568950,
 568951,
 568952,
 568953,
 568954,
 568955,
 568956,
 568957,
 568958,
 568959,
 568960,
 568961,
 568962,
 568963,
 568964,
 568965,
 568966,
 568967,
 568968,
 568969,
 568970,
 568971,
 568972,
 568973,
 568974,
 568975,
 568976,
 568977,
 568978,
 568979,
 568980,
 568981,
 568982,
 568983,
 568984,
 568985,
 568986,
 568987,
 568988,
 568989,
 568990,
 568991,
 568992,
 568993,
 568994,
 568995,
 568996,
 568997,
 568998,
 568999,
 569000,
 569001,
 569002,
 569003,
 569004,
 569005,
 569006,
 569007,
 569008,
 569009,
 569010,
 569011,
 569012,
 569013,
 569014,
 569015,
 569016,
 569017,
 569018,
 569019,
 569020,
 569021,
 569022,
 569023,
 569024,
 569025,
 569026,
 569027,
 569028,
 569029,
 569030,
 569031,
 569032,
 569033,
 569034,
 569035,
 569036,
 569037,
 569038,
 569039,
 569040,
 569041,
 569042,
 569043,
 569044,
 569045,
 569046,
 569047,
 569048,
 569049,
 569050,
 569051,
 569052,
 569053,
 569054,
 569055,
 569056,
 569057,
 569058,
 569059,
 569060,
 569061,
 569062,
 569063,
 569064,
 569065,
 569066,
 569067,
 569068,
 569069,
 569070,
 569071,
 569072,
 569073,
 569074,
 569075,
 569076,
 569077,
 569078,
 569079,
 569080,
 569081,
 569082,
 569083,
 569084,
 569085,
 569086,
 569087,
 569088,
 569089,
 569090,
 569091,
 569092,
 569093,
 569094,
 569095,
 569096,
 569097,
 569098,
 569099,
 569100,
 569101,
 569102,
 569103,
 569104,
 569105,
 569106,
 569107,
 569108,
 569109,
 569110,
 569111,
 569112,
 569113,
 569114,
 569115,
 569116,
 569117,
 569118,
 569119,
 569120,
 569121,
 569122,
 569123,
 569124,
 569125,
 569126,
 569127,
 569128,
 569129,
 569130,
 569131,
 569132,
 569133,
 569134,
 569135,
 569136,
 569137,
 569138,
 569139,
 569140,
 569141,
 569142,
 569143,
 569144,
 569145,
 569146,
 569147,
 569148,
 569149,
 569150,
 569151,
 569152,
 569153,
 569154,
 569155,
 569156,
 569157,
 569158,
 569159,
 569160,
 569161,
 569162,
 569163,
 569164,
 569165,
 569166,
 569167,
 569168,
 569169,
 569170,
 569171,
 569172,
 569173,
 569174,
 569175,
 569176,
 569177,
 569178,
 569179,
 569180,
 569181,
 569182,
 569183,
 569184,
 569185,
 569186,
 569187,
 569188,
 569189,
 569190,
 569191,
 569192,
 569193,
 569194,
 569195,
 569196,
 569197,
 569198,
 569199,
 569200,
 569201,
 569202,
 569203,
 569204,
 569205,
 569206,
 569207,
 569208,
 569209,
 569210,
 569211,
 569212,
 569213,
 569214,
 569215,
 569216,
 569217,
 569218,
 569219,
 569220,
 569221,
 569222,
 569223,
 569224,
 569225,
 569226,
 569227,
 569228,
 569229,
 569230,
 569231,
 569232,
 569233,
 569234,
 569235,
 569236,
 569237,
 569238,
 569239,
 569240,
 569241,
 569242,
 569243,
 569244,
 569245,
 569246,
 569247,
 569248,
 569249,
 569250,
 569251,
 569252,
 569253,
 569254,
 569255,
 569256,
 569257,
 569258,
 569259,
 569260,
 569261,
 569262,
 569263,
 569264,
 569265,
 569266,
 569267,
 569268,
 569269,
 569270,
 569271,
 569272,
 569273,
 569274,
 569275,
 569276,
 569277,
 569278,
 569279,
 569280,
 569281,
 569282,
 569283,
 569284,
 569285,
 569286,
 569287,
 569288,
 569289,
 569290,
 569291,
 569292,
 569293,
 569294,
 569295,
 569296,
 569297,
 569298,
 569299,
 569300,
 569301,
 569302,
 569303,
 569304,
 569305,
 569306,
 569307,
 569308,
 569309,
 569310,
 569311,
 569312,
 569313,
 569314,
 569315,
 569316,
 569317,
 569318,
 569319,
 569320,
 569321,
 569322,
 569323,
 569324,
 569325,
 569326,
 569327,
 569328,
 569329,
 569330,
 569331,
 569332,
 569333,
 569334,
 569335,
 569336,
 569337,
 569338,
 569339,
 569340,
 569341,
 569342,
 569343,
 569344,
 569345,
 569346,
 569347,
 569348,
 569349,
 569350,
 569351,
 569352,
 569353,
 569354,
 569355,
 569356,
 569357,
 569358,
 569359,
 569360,
 569361,
 569362,
 569363,
 569364,
 569365,
 569366,
 569367,
 569368,
 569369,
 569370,
 569371,
 569372,
 569373,
 569374,
 569375,
 569376,
 569377,
 569378,
 569379,
 569380,
 569381,
 569382,
 569383,
 569384,
 569385,
 569386,
 569387,
 569388,
 569389,
 569390,
 569391,
 569392,
 569393,
 569394,
 569395,
 569396,
 569397,
 569398,
 569399,
 569400,
 569401,
 569402,
 569403,
 569404,
 569405,
 569406,
 569407,
 569408,
 569409,
 569410,
 569411,
 569412,
 569413,
 569414,
 569415,
 569416,
 569417,
 569418,
 569419,
 569420,
 569421,
 569422,
 569423,
 569424,
 569425,
 569426,
 569427,
 569428,
 569429,
 569430,
 569431,
 569432,
 569433,
 569434,
 569435,
 569436,
 569437,
 569438,
 569439,
 569440,
 569441,
 569442,
 569443,
 569444,
 569445,
 569446,
 569447,
 569448,
 569449,
 569450,
 569451,
 569452,
 569453,
 569454,
 569455,
 569456,
 569457,
 569458,
 569459,
 569460,
 569461,
 569462,
 569463,
 569464,
 569465,
 569466,
 569467,
 569468,
 569469,
 569470,
 569471,
 569472,
 569473,
 569474,
 569475,
 569476,
 569477,
 569478,
 569479,
 569480,
 569481,
 569482,
 569483,
 569484,
 569485,
 569486,
 569487,
 569488,
 569489,
 569490,
 569491,
 569492,
 569493,
 569494,
 569495,
 569496,
 569497,
 569498,
 569499,
 569500,
 569501,
 569502,
 569503,
 569504,
 569505,
 569506,
 569507,
 569508,
 569509,
 569510,
 569511,
 569512,
 569513,
 569514,
 569515,
 569516,
 569517,
 569518,
 569519,
 569520,
 569521,
 569522,
 569523,
 569524,
 569525,
 569526,
 569527,
 569528,
 569529,
 569530,
 569531,
 569532,
 569533,
 569534,
 569535,
 569536,
 569537,
 569538,
 569539,
 569540,
 569541,
 569542,
 569543,
 569544,
 569545,
 569546,
 569547,
 569548,
 569549,
 569550,
 569551,
 569552,
 569553,
 569554,
 569555,
 569556,
 569557,
 569558,
 569559,
 569560,
 569561,
 569562,
 569563,
 569564,
 569565,
 569566,
 569567,
 569568,
 569569,
 569570,
 569571,
 569572,
 569573,
 569574,
 569575,
 569576,
 569577,
 569578,
 569579,
 569580,
 569581,
 569582,
 569583,
 569584,
 569585,
 569586,
 569587,
 569588,
 569589,
 569590,
 569591,
 569592,
 569593,
 569594,
 569595,
 569596,
 569597,
 569598,
 569599,
 569600,
 569601,
 569602,
 569603,
 569604,
 569605,
 569606,
 569607,
 569608,
 569609,
 569610,
 569611,
 569612,
 569613,
 569614,
 569615,
 569616,
 569617,
 569618,
 569619,
 569620,
 569621,
 569622,
 569623,
 569624,
 569625,
 569626,
 569627,
 569628,
 569629,
 569630,
 569631,
 569632,
 569633,
 569634,
 569635,
 569636,
 569637,
 569638,
 569639,
 569640,
 569641,
 569642,
 569643,
 569644,
 569645,
 569646,
 569647,
 569648,
 569649,
 569650,
 569651,
 569652,
 569653,
 569654,
 569655,
 569656,
 569657,
 569658,
 569659,
 569660,
 569661,
 569662,
 569663,
 569664,
 569665,
 569666,
 569667,
 569668,
 569669,
 569670,
 569671,
 569672,
 569673,
 569674,
 569675,
 569676,
 569677,
 569678,
 569679,
 569680,
 569681,
 569682,
 569683,
 569684,
 569685,
 569686,
 569687,
 569688,
 569689,
 569690,
 569691,
 569692,
 569693,
 569694,
 569695,
 569696,
 569697,
 569698,
 569699,
 569700,
 569701,
 569702,
 569703,
 569704,
 569705,
 569706,
 569707,
 569708,
 569709,
 569710,
 569711,
 569712,
 569713,
 569714,
 569715,
 569716,
 569717,
 569718,
 569719,
 569720,
 569721,
 569722,
 569723,
 569724,
 569725,
 569726,
 569727,
 569728,
 569729,
 569730,
 569731,
 569732,
 569733,
 569734,
 569735,
 569736,
 569737,
 569738,
 569739,
 569740,
 569741,
 569742,
 569743,
 569744,
 569745,
 569746,
 569747,
 569748,
 569749,
 569750,
 569751,
 569752,
 ...]

In [12]:
lst[0:5]

[568753, 568754, 568755, 568756, 568757]

In [13]:
df1.loc[[568753]]

,Unnamed: 0,datetime,network,duration,network_info,text
568753,0,'chan' => [$c...,NaN,NaN,NaN,NaN

In [14]:
df1.iloc[568753, 1]

"                               'chan'   => [$ch=>1],"

In [15]:
df1.loc[[568754]]

,Unnamed: 0,datetime,network,duration,network_info,text
568754,1,'disk' => '/'...,NaN,NaN,NaN,NaN

In [16]:
df1.iloc[568754, 1]

"                               'disk'   => '/'.$disks[ $n % count($disks) ],"

In [17]:
df1.loc[[568755]]

,Unnamed: 0,datetime,network,duration,network_info,text
568755,2,"'freq' => $freq,",NaN,NaN,NaN,NaN

In [18]:
lst[-5:-1]

[570063, 570064, 570065, 570066]

In [19]:
df1.loc[[570063]]

,Unnamed: 0,datetime,network,duration,network_info,text
570063,1310,"function scan($ch = 'CSPAN', $only = FALSE, $h...",NaN,NaN,NaN,NaN

In [20]:
df1.iloc[570063, 1]

"function scan($ch = 'CSPAN', $only = FALSE, $hrsL = -24, $hrsR = 24, $maxB = 100) {"

In [21]:
df1.loc[[570066]]

,Unnamed: 0,datetime,network,duration,network_info,text
570066,1313,function xml2tsv($xmlfi) {,NaN,NaN,NaN,NaN

In [22]:
df1.iloc[570066, 1]

'function xml2tsv($xmlfi) {'

In [23]:
df1.isnull().value_counts()

Unnamed: 0  datetime  network  duration  network_info  text
False       False     False    False     False         False    845986
                      True     True      True          True       1051
                      False    False     False         True          1
dtype: int64

In [24]:
df1 = df1.drop(index=lst)

In [25]:
df1.isnull().value_counts()

Unnamed: 0  datetime  network  duration  network_info  text
False       False     False    False     False         False    845986
                                                       True          1
dtype: int64

In [26]:
lst1 = df1[df1["text"].isnull()].index.tolist()
lst1

[570036]

In [27]:
df1.loc[570036]

Unnamed: 0                     1283
datetime        2018-05-15 04:59:00
network                    FOXNEWSW
duration                        8.0
network_info         <?require @ia;
text                            NaN
Name: 570036, dtype: object

In [28]:
df1.drop(570036, axis=0, inplace=True)

In [29]:
df1.isnull().value_counts()

Unnamed: 0  datetime  network  duration  network_info  text
False       False     False    False     False         False    845986
dtype: int64

In [30]:
df1["network"].unique()

array(['BBCNEWS', 'CNNW', 'FOXNEWSW', 'MSNBCW'], dtype=object)

In [31]:
df2 = pd.read_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/raw/2018_data.csv")

In [32]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999186 entries, 0 to 999185
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    999186 non-null  int64
 1   datetime      999186 non-null  object
 2   network       999186 non-null  object
 3   duration      999186 non-null  int64
 4   network_info  999186 non-null  object
 5   text          999186 non-null  object
dtypes: int64(2), object(4)
memory usage: 45.7+ MB

In [33]:
df2["network"].unique()

array(['CNNW', 'FOXNEWSW', 'MSNBCW', 'BBCNEWS'], dtype=object)

In [34]:
df3 = pd.read_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/raw/2019_data.csv")

In [35]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2045 entries, 0 to 2044
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2045 non-null   int64
 1   datetime      2045 non-null   object
 2   network       2045 non-null   object
 3   duration      2045 non-null   int64
 4   network_info  2045 non-null   object
 5   text          2045 non-null   object
dtypes: int64(2), object(4)
memory usage: 96.0+ KB

In [36]:
df3["network"].unique()

array(['MSNBCW', 'CNNW', 'BBCNEWS', 'FOXNEWSW'], dtype=object)

In [37]:
df4 = pd.read_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/raw/2020_data.csv")

In [38]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502722 entries, 0 to 502721
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    502722 non-null  int64
 1   datetime      502720 non-null  object
 2   network       502718 non-null  object
 3   duration      502717 non-null  float64
 4   network_info  490620 non-null  object
 5   text          502716 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 23.0+ MB

In [39]:
df4.isnull().value_counts()

Unnamed: 0  datetime  network  duration  network_info  text
False       False     False    False     False         False    490618
                                         True          False     12097
                      True     True      True          True          3
                      False    False     False         True          1
                               True      True          True          1
            True      False    False     False         False         1
                      True     True      True          True          1
dtype: int64

In [40]:
lst4 = df4[df4["network_info"].isnull()].index.tolist()
lst4

[274414,
 274417,
 274419,
 274423,
 274425,
 274427,
 274430,
 274433,
 274436,
 274437,
 274438,
 274440,
 274443,
 274446,
 274448,
 274451,
 274453,
 274455,
 274457,
 274459,
 274464,
 274467,
 274470,
 274475,
 274488,
 274492,
 274496,
 274500,
 274506,
 274510,
 274512,
 274515,
 274519,
 274522,
 274545,
 274548,
 274552,
 274555,
 274559,
 274561,
 274564,
 274567,
 274570,
 274573,
 274575,
 274579,
 275049,
 275051,
 275055,
 275056,
 275060,
 275066,
 275069,
 275073,
 275077,
 275080,
 275082,
 275085,
 275088,
 275091,
 275094,
 275097,
 275112,
 275115,
 275122,
 275125,
 275128,
 275130,
 275133,
 275136,
 275139,
 275142,
 275145,
 275147,
 275149,
 275810,
 275811,
 275822,
 275824,
 275829,
 275886,
 275889,
 275899,
 275901,
 275908,
 275916,
 275917,
 275919,
 275936,
 275941,
 275944,
 275947,
 275968,
 275971,
 275977,
 275993,
 275997,
 276001,
 276004,
 276008,
 276010,
 276013,
 276016,
 276622,
 276625,
 276628,
 276630,
 276632,
 276636,
 276637,
 276638,
 276640,
 276644,
 276647,
 276650,
 276653,
 276655,
 276657,
 276660,
 276670,
 276672,
 276675,
 276701,
 276711,
 276714,
 276717,
 276718,
 276720,
 276724,
 276727,
 276733,
 276736,
 276741,
 276742,
 276744,
 276777,
 276814,
 276816,
 276821,
 276823,
 276825,
 276826,
 276831,
 276832,
 276836,
 276838,
 276839,
 276845,
 276847,
 276852,
 276860,
 276862,
 276864,
 276866,
 276868,
 276872,
 276909,
 276912,
 276919,
 276922,
 276924,
 276928,
 276930,
 277573,
 277574,
 277575,
 277578,
 277580,
 277583,
 277586,
 277587,
 277591,
 277594,
 277596,
 277601,
 277605,
 277608,
 277610,
 277613,
 277616,
 277624,
 277626,
 277627,
 277632,
 277635,
 277639,
 277644,
 277646,
 278805,
 278808,
 278810,
 278825,
 278827,
 278853,
 278854,
 278858,
 278869,
 278873,
 278877,
 278880,
 278891,
 278908,
 278910,
 278912,
 278952,
 278955,
 278957,
 278958,
 278961,
 278962,
 278964,
 278966,
 278968,
 278970,
 278975,
 278978,
 279026,
 279029,
 279047,
 279049,
 279282,
 279283,
 279284,
 279288,
 279290,
 279293,
 279296,
 279297,
 279300,
 279304,
 279311,
 279317,
 279324,
 279332,
 279335,
 279337,
 279341,
 279344,
 279346,
 279352,
 279354,
 279355,
 279359,
 279362,
 279365,
 279367,
 279369,
 279377,
 279380,
 279384,
 279385,
 279387,
 279390,
 279816,
 279822,
 279825,
 279830,
 279832,
 279835,
 279836,
 279837,
 279841,
 280882,
 280885,
 280888,
 280891,
 280896,
 280900,
 280903,
 280906,
 280911,
 281122,
 281125,
 281129,
 281131,
 281172,
 281183,
 281184,
 281186,
 281191,
 281196,
 281198,
 281200,
 281202,
 281206,
 281209,
 281212,
 281216,
 281218,
 281222,
 281223,
 281226,
 281228,
 281230,
 281233,
 281235,
 281242,
 281244,
 281247,
 281249,
 281251,
 281254,
 281257,
 281259,
 281262,
 281266,
 281269,
 281271,
 281274,
 281279,
 281280,
 281286,
 281293,
 281300,
 281302,
 281305,
 281308,
 281310,
 281313,
 281315,
 281318,
 281319,
 281321,
 281400,
 281401,
 281403,
 281406,
 281408,
 281410,
 281412,
 281415,
 281417,
 281421,
 281423,
 281426,
 281428,
 281432,
 281435,
 281437,
 281440,
 281443,
 281446,
 281449,
 281451,
 281453,
 281456,
 281458,
 281464,
 281465,
 281468,
 281471,
 281476,
 281489,
 281491,
 281498,
 281500,
 281518,
 281522,
 281524,
 281527,
 281529,
 281533,
 281537,
 281540,
 281542,
 281546,
 281627,
 281629,
 281631,
 281632,
 281633,
 281635,
 281639,
 281644,
 281647,
 281650,
 281653,
 281656,
 281658,
 281662,
 281670,
 281674,
 281728,
 281732,
 281734,
 281740,
 281742,
 281745,
 281748,
 281750,
 281754,
 281758,
 281761,
 281764,
 281767,
 282393,
 282396,
 282399,
 282402,
 282404,
 282407,
 282410,
 282413,
 282415,
 282417,
 282421,
 283801,
 283806,
 283809,
 283812,
 283816,
 283822,
 283826,
 283833,
 283839,
 283848,
 283851,
 283854,
 283861,
 283872,
 283876,
 283879,
 283883,
 283886,
 283891,
 283895,
 283896,
 283899,
 283902,
 283907,
 283916,
 283920,
 283931,
 283946,
 283952,
 283977,
 283979,
 283998,
 284001,
 284004,
 284012,
 284014,
 284015,
 284018,
 284033,
 284040,
 284066,
 284068,
 284071,
 284077,
 284078,
 284082,
 284085,
 284089,
 284099,
 284102,
 284106,
 284109,
 284112,
 284117,
 284129,
 284131,
 284143,
 284149,
 284189,
 284191,
 284200,
 284204,
 284208,
 284211,
 284213,
 284217,
 284539,
 284541,
 284542,
 284543,
 284544,
 284546,
 284550,
 284554,
 284557,
 284559,
 284561,
 284563,
 284567,
 284583,
 284585,
 284634,
 284638,
 284648,
 284651,
 284654,
 284659,
 284662,
 284665,
 284670,
 284673,
 284676,
 284684,
 284687,
 284690,
 284775,
 284777,
 284778,
 284779,
 284781,
 284783,
 284785,
 284787,
 284790,
 284793,
 284812,
 284815,
 284817,
 284820,
 284822,
 284823,
 284825,
 284827,
 284830,
 284834,
 284836,
 284840,
 284842,
 284843,
 284845,
 284848,
 284850,
 284853,
 284856,
 284858,
 284860,
 285070,
 285071,
 285074,
 285314,
 285315,
 285317,
 285319,
 285328,
 285332,
 285366,
 285369,
 285371,
 285374,
 285376,
 285389,
 285392,
 285395,
 285399,
 285402,
 285404,
 285408,
 285413,
 285415,
 285417,
 285420,
 285423,
 285425,
 285427,
 285439,
 285445,
 285447,
 285474,
 285478,
 285484,
 285488,
 285493,
 285504,
 285506,
 285518,
 285521,
 285525,
 285529,
 285533,
 285537,
 285540,
 285544,
 285554,
 285558,
 285562,
 285645,
 285674,
 285676,
 285680,
 285683,
 285685,
 285689,
 285693,
 285695,
 285703,
 285706,
 285711,
 285717,
 285734,
 285738,
 285752,
 285755,
 285760,
 285763,
 285774,
 285778,
 285812,
 285814,
 285822,
 285825,
 285830,
 285832,
 285842,
 285845,
 285848,
 285849,
 285860,
 285862,
 285865,
 285869,
 285872,
 285877,
 285879,
 285881,
 285884,
 285887,
 285889,
 285892,
 285908,
 285910,
 285913,
 285916,
 285919,
 285922,
 285926,
 285929,
 285931,
 285934,
 285937,
 285944,
 285946,
 285950,
 285953,
 285957,
 285960,
 285963,
 285979,
 285983,
 285986,
 285992,
 286000,
 286005,
 286008,
 286011,
 286016,
 286019,
 286023,
 286025,
 286050,
 286053,
 286056,
 286060,
 286063,
 286065,
 286075,
 286077,
 286080,
 286355,
 286357,
 286359,
 286361,
 286364,
 286372,
 286375,
 286377,
 286383,
 286386,
 286392,
 286395,
 286404,
 286469,
 286472,
 286475,
 286478,
 286481,
 286484,
 286494,
 286499,
 286575,
 286578,
 286580,
 286582,
 286587,
 286589,
 286603,
 286605,
 286607,
 286612,
 286641,
 286644,
 287084,
 287090,
 287102,
 287105,
 287107,
 287134,
 287137,
 287141,
 287145,
 287149,
 287153,
 287159,
 287162,
 287171,
 287173,
 287175,
 287178,
 287181,
 287183,
 287185,
 287187,
 287190,
 287194,
 287197,
 287200,
 287202,
 287205,
 287207,
 287213,
 287267,
 287581,
 287583,
 287630,
 287632,
 287635,
 287639,
 287643,
 287646,
 287649,
 287658,
 287662,
 287664,
 287667,
 287669,
 287671,
 287673,
 287678,
 287684,
 287686,
 287688,
 287692,
 287695,
 287697,
 287701,
 287703,
 287744,
 287746,
 287761,
 287764,
 287768,
 287775,
 287777,
 287784,
 288653,
 288656,
 288659,
 288661,
 288665,
 288668,
 288671,
 288674,
 289188,
 289192,
 289196,
 289199,
 289202,
 289205,
 289208,
 289212,
 289215,
 289217,
 289221,
 289223,
 289225,
 289229,
 289232,
 289238,
 289572,
 289575,
 289579,
 289582,
 289585,
 289587,
 289589,
 289591,
 289593,
 289599,
 289601,
 289609,
 289611,
 289627,
 289630,
 289634,
 289638,
 289642,
 289645,
 289649,
 289657,
 289747,
 289750,
 289754,
 289756,
 289762,
 289766,
 289770,
 289775,
 289778,
 289782,
 289984,
 289992,
 290004,
 290006,
 290034,
 290038,
 290054,
 290056,
 290065,
 290069,
 290072,
 290075,
 290079,
 290082,
 290087,
 290205,
 290209,
 290211,
 290212,
 290214,
 290217,
 290219,
 290221,
 290229,
 290231,
 290234,
 290276,
 290280,
 290287,
 290298,
 290300,
 290302,
 290305,
 290308,
 290312,
 290314,
 290324,
 290329,
 290339,
 290345,
 290349,
 290636,
 290640,
 290652,
 290655,
 290663,
 290666,
 290709,
 290712,
 290715,
 290719,
 290722,
 290725,
 290727,
 290731,
 290737,
 290743,
 290747,
 290750,
 290754,
 290761,
 290764,
 290789,
 290795,
 290829,
 290830,
 290831,
 290832,
 290834,
 290837,
 290839,
 290842,
 290845,
 291617,
 291618,
 291620,
 291622,
 291625,
 291627,
 291629,
 291632,
 291635,
 291636,
 291638,
 291640,
 291641,
 291643,
 291649,
 291650,
 291672,
 291673,
 291701,
 291704,
 291707,
 291709,
 291712,
 291716,
 291720,
 291725,
 291756,
 291808,
 291811,
 291815,
 291817,
 291820,
 291824,
 291829,
 291832,
 291839,
 291844,
 291865,
 291868,
 291874,
 291877,
 291883,
 291886,
 291887,
 291890,
 291893,
 291896,
 291899,
 291905,
 291907,
 291912,
 291915,
 291917,
 291919,
 291923,
 291926,
 291928,
 291931,
 291935,
 291937,
 291940,
 291942,
 293476,
 293495,
 293498,
 293871,
 293877,
 293879,
 293883,
 293890,
 293894,
 293908,
 293917,
 293920,
 293921,
 293924,
 293926,
 293928,
 293935,
 293945,
 293949,
 293952,
 293954,
 293958,
 293960,
 293963,
 293966,
 293968,
 293975,
 293984,
 293988,
 293994,
 294010,
 294014,
 294019,
 294028,
 294032,
 294035,
 294071,
 294075,
 294084,
 294087,
 294090,
 294096,
 294100,
 294103,
 294105,
 294108,
 294111,
 294113,
 294116,
 294117,
 294120,
 ...]

In [41]:
df4.loc[274515]

Unnamed: 0                         672
datetime           2021-01-11 09:46:00
network                        BBCNEWS
duration                          29.0
network_info                       NaN
text            | maoneSIa plane crasn
Name: 274515, dtype: object

In [42]:
df4.loc[294120]

Unnamed: 0                                                   2856
datetime                                      2021-01-18 22:49:00
network                                                   BBCNEWS
duration                                                     10.0
network_info                                                  NaN
text            Jack Blanchard. UK Political Editor, Politico\...
Name: 294120, dtype: object

In [43]:
df4.iloc[294120, 5]

'Jack Blanchard. UK Political Editor, Politico\\nTHEPAPERS'

In [44]:
df4 = df4.dropna()

In [45]:
df4.isnull().value_counts()

Unnamed: 0  datetime  network  duration  network_info  text
False       False     False    False     False         False    490618
dtype: int64

In [46]:
df4["network"].unique()

array(['CNNW', 'BBCNEWS', 'MSNBCW', 'FOXNEWSW'], dtype=object)

In [47]:
df5 = pd.read_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/raw/2021_data.csv")

/var/folders/nv/lggm200n09vgfy5n8_6lcz6c0000gn/T/ipykernel_7482/1279715756.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/raw/2021_data.csv")

In [48]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018326 entries, 0 to 1018325
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1018326 non-null  int64
 1   datetime      1018318 non-null  object
 2   network       1018305 non-null  object
 3   duration      1018295 non-null  object
 4   network_info  978734 non-null   object
 5   text          1018278 non-null  object
dtypes: int64(1), object(5)
memory usage: 46.6+ MB

In [49]:
df5.head()

,Unnamed: 0,datetime,network,duration,network_info,text
0,0,2021-09-02 00:00:00,CNNW,28.0,CNNW_20210901_230000_Erin_Burnett_OutFront/sta...,WHITE SUPREMACIST PRAISE OF TALIBAN. TAKEOVER ...
1,1,2021-09-02 00:01:00,CNNW,38.0,CNNW_20210902_000000_Anderson_Cooper_360/start/60,WHITE SUPREMACIST PRAISE OF TALIBAN. TAKEOVER ...
2,2,2021-09-02 00:01:00,MSNBCW,33.0,MSNBCW_20210902_000000_All_In_With_Chris_Hayes...,. SUPREME COURT INACTION ALLOWS TEXAS. ANTI-AB...
3,3,2021-09-02 00:03:00,CNNW,32.0,CNNW_20210902_000000_Anderson_Cooper_360/start...,U.S. OFFICIALS GRAPPLING WITH EXTREMISTS WHO. ...
4,4,2021-09-02 00:03:00,MSNBCW,45.0,MSNBCW_20210902_000000_All_In_With_Chris_Hayes...,. SUPREME COURT INACTION ALLOWS TEXAS. ANTI-AB...

In [50]:
df5["duration"].unique()

array(['28.0', '38.0', '33.0', '32.0', '45.0', '29.0', '55.0', '11.0',
       '62.0', '50.0', '13.0', '9.0', '51.0', '42.0', '49.0', '17.0',
       '30.0', '16.0', '43.0', '21.0', '39.0', '58.0', '24.0', '22.0',
       '7.0', '60.0', '37.0', '40.0', '36.0', '4.0', '20.0', '8.0', '5.0',
       '27.0', '25.0', '31.0', '26.0', '23.0', '19.0', '57.0', '3.0',
       '48.0', '34.0', '56.0', '12.0', '59.0', '6.0', '18.0', '35.0',
       '10.0', '14.0', '46.0', '53.0', '15.0', '41.0', '17529.0', '47.0',
       '52.0', '54.0', '61.0', nan, '44.0', '63.0', '17528.0', '64.0',
       '65.0',
       "China lalwan contiict. Taiwan considers itself independent from China\\nChina laiwan contiict. China's President Xi vows reunification with island\\nChina laiwan contiict. President Xi's remarks come at time...",
       '42', '24', '55', '43', '18', '30', '14', '53', '15', '62', '38',
       '33', '37', '54', '36', '23', '12', '57', '44', '49', '11', '41',
       '31', '40', '45', '26', '50', '25', '27', '19', '13', '20', '32',
       '9', '6', '10', '29', '7', '8', '17', '21', '28', '16', '48', '39',
       '4', '5', '34', '3', '52', '63', '58', '47', '51', '22', '59',
       '56', '46', '61', '35', '60',
       'CNNW_20211011_010000_Diana/start/600', '65', '64',
       'MSNBCW_20211103_200000_Deadline_White_House/start/2940', 10, 25,
       4, 35, 34, 39, 6, 17, 23, 36, 29, 9, 32, 62, 11, 57, 24, 12, 7, 51,
       59, 5, 8, 28, 3, 53, 16, 49, 44, 38, 41, 19, 13, 37, 42, 21, 27,
       22, 15, 18, 43, 31, 30, 45, 52, 26, 14, 46, 48, 60, 47, 20, 40, 55,
       33, 58, 54, 50, 61, 56, 63, 64, 69, 65, 83, 73, 67, 98, 68, 66, 70,
       74, 93, 129, 76, 71, 72, 17531, 17526, 17529], dtype=object)

In [51]:
lst = list(np.where(df5["duration"].str.contains("China") == True))
lst

[array([71631])]

In [52]:
df5.iloc[71631, :]

Unnamed: 0                                                      0
datetime                                                        0
network                BBCNEWS_20211010_030000_BBC_News/start/480
duration        China lalwan contiict. Taiwan considers itself...
network_info                                                  NaN
text                                                          NaN
Name: 71631, dtype: object

In [53]:
np.where(df5["duration"].str.contains("CNNW") == True)

(array([77132]),)

In [54]:
df5.iloc[77132,:]

Unnamed: 0                                                   2748
datetime                                                     CNNW
network                                                         7
duration                     CNNW_20211011_010000_Diana/start/600
network_info    Enroll today at. WellHealthSafety.com\nWellHea...
text                                                          NaN
Name: 77132, dtype: object

In [55]:
np.where(df5["duration"].str.contains("MSNBCW") == True)

(array([125736]),)

In [56]:
df5.iloc[77132,:]

Unnamed: 0                                                   2748
datetime                                                     CNNW
network                                                         7
duration                     CNNW_20211011_010000_Diana/start/600
network_info    Enroll today at. WellHealthSafety.com\nWellHea...
text                                                          NaN
Name: 77132, dtype: object

In [57]:
df5.drop([77132, 125736, 71631], axis=0,inplace=True)

In [58]:
df5["duration"].unique()

array(['28.0', '38.0', '33.0', '32.0', '45.0', '29.0', '55.0', '11.0',
       '62.0', '50.0', '13.0', '9.0', '51.0', '42.0', '49.0', '17.0',
       '30.0', '16.0', '43.0', '21.0', '39.0', '58.0', '24.0', '22.0',
       '7.0', '60.0', '37.0', '40.0', '36.0', '4.0', '20.0', '8.0', '5.0',
       '27.0', '25.0', '31.0', '26.0', '23.0', '19.0', '57.0', '3.0',
       '48.0', '34.0', '56.0', '12.0', '59.0', '6.0', '18.0', '35.0',
       '10.0', '14.0', '46.0', '53.0', '15.0', '41.0', '17529.0', '47.0',
       '52.0', '54.0', '61.0', nan, '44.0', '63.0', '17528.0', '64.0',
       '65.0', '42', '24', '55', '43', '18', '30', '14', '53', '15', '62',
       '38', '33', '37', '54', '36', '23', '12', '57', '44', '49', '11',
       '41', '31', '40', '45', '26', '50', '25', '27', '19', '13', '20',
       '32', '9', '6', '10', '29', '7', '8', '17', '21', '28', '16', '48',
       '39', '4', '5', '34', '3', '52', '63', '58', '47', '51', '22',
       '59', '56', '46', '61', '35', '60', '65', '64', 10, 25, 4, 35, 34,
       39, 6, 17, 23, 36, 29, 9, 32, 62, 11, 57, 24, 12, 7, 51, 59, 5, 8,
       28, 3, 53, 16, 49, 44, 38, 41, 19, 13, 37, 42, 21, 27, 22, 15, 18,
       43, 31, 30, 45, 52, 26, 14, 46, 48, 60, 47, 20, 40, 55, 33, 58, 54,
       50, 61, 56, 63, 64, 69, 65, 83, 73, 67, 98, 68, 66, 70, 74, 93,
       129, 76, 71, 72, 17531, 17526, 17529], dtype=object)

In [59]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018323 entries, 0 to 1018325
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1018323 non-null  int64
 1   datetime      1018315 non-null  object
 2   network       1018302 non-null  object
 3   duration      1018292 non-null  object
 4   network_info  978732 non-null   object
 5   text          1018278 non-null  object
dtypes: int64(1), object(5)
memory usage: 54.4+ MB

In [60]:
df5["duration"] = df5["duration"].astype(float)

In [61]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018323 entries, 0 to 1018325
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1018323 non-null  int64
 1   datetime      1018315 non-null  object
 2   network       1018302 non-null  object
 3   duration      1018292 non-null  float64
 4   network_info  978732 non-null   object
 5   text          1018278 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 54.4+ MB

In [62]:
df5["network"].unique()

array(['CNNW', 'MSNBCW', 'BBCNEWS', 'FOXNEWSW', nan, 'Browse by category',
       'IDAHO HOSPITALS RATIONING TREATMENT AS COVID SURGES IN STATE',
       '» CANDACE OWENS | \\"CANDACE\\" HOST\\n> CANDACE OWENS [ \\"CANDACE\\" HOST. IN THIS NEW RELIGION YOU MUST SWEAR\\n|. » CANDACE OWENS [ \\"CANDACE\\" HOST\\n» CANDACE OWENS [ \\"CANDACE\\"...',
       '» BRET BAIER | \\"TO RESCUE THE REPUBLIC\\" AUTHOR\\n> BRET BAIER | \\"SPECIAL REPORT\\" ANCHOR\\nDEMOCRATS SEE WRITING ON THE WALL FOR THE MIDTERMS\\nULYSSES S. GRANT,. . e FRAGILE UNION, avo e...',
       'Gracie Fllms/ZOth Television Animation. . pE@News\\nGracie Filrvls[ZOth Television Animation. . QE@NEWS',
       "'m'mymth Friday15OO |\\n11 4. - Nadmet Saturday O5OO | |. oy\\n'm'Plymouth Saturday| |. o",
       'FORMER DOJ OFFICIAL WHO PUSHED BASELESS ELECTION LIES. EXPECTED TO TESTIFY BEFORE JAN 6 COMMITTEE NEXT WEEK',
       'MANUFACTURED OUTRAGE OVER CRITICAL RACE THEORY. SWEEPS THE NATION AND INFECTS POLITICS\\nTX LAWMAKER INVESTIGATING 85O BOOKS ON RACE AND. GENDER THAT COULD CAUSE \'DISCOMFORT\' TO STUDENTS\\nJohn McWhorter | Author, \\"Woke...',
       'MSNB'], dtype=object)

In [63]:
df5[df5["network"] == "IDAHO HOSPITALS RATIONING TREATMENT AS COVID SURGES IN STATE"]

,Unnamed: 0,datetime,network,duration,network_info,text
38289,0,NaN,IDAHO HOSPITALS RATIONING TREATMENT AS COVID S...,NaN,NaN,NaN

In [64]:
lst5 = df5[df5["datetime"].isnull()].index.tolist()

In [65]:
df5.loc[21909]

Unnamed: 0                       0
datetime                       NaN
network         Browse by category
duration                       NaN
network_info                   NaN
text                           NaN
Name: 21909, dtype: object

In [66]:
df5.loc[109097]

Unnamed: 0        0
datetime        NaN
network         NaN
duration        NaN
network_info    NaN
text            NaN
Name: 109097, dtype: object

In [67]:
df5.drop(index=lst5, inplace=True)

In [68]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018315 entries, 0 to 1018325
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1018315 non-null  int64
 1   datetime      1018315 non-null  object
 2   network       1018299 non-null  object
 3   duration      1018292 non-null  float64
 4   network_info  978732 non-null   object
 5   text          1018278 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 54.4+ MB

In [69]:
lst5 = df5[df5["network"].isnull()].index.tolist()

In [70]:
lst5

[479,
 8546,
 32418,
 38183,
 46613,
 64388,
 71506,
 74383,
 74520,
 85887,
 88415,
 91580,
 102607,
 115365,
 117857,
 118054]

In [71]:
df5.loc[479]

Unnamed: 0                                             0
datetime        '\nUK social care: 1ax rise urged. UK...
network                                              NaN
duration                                             NaN
network_info                                         NaN
text                                                 NaN
Name: 479, dtype: object

In [72]:
df5.loc[118054]

Unnamed: 0                                                      0
datetime         represent actual clients. Actual client exper...
network                                                       NaN
duration                                                      NaN
network_info                                                  NaN
text                                                          NaN
Name: 118054, dtype: object

In [73]:
df5.drop(index=lst5, inplace=True)
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018299 entries, 0 to 1018325
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1018299 non-null  int64
 1   datetime      1018299 non-null  object
 2   network       1018299 non-null  object
 3   duration      1018292 non-null  float64
 4   network_info  978732 non-null   object
 5   text          1018278 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 54.4+ MB

In [74]:
lst5 = df5[df5["text"].isnull()].index.tolist()
lst5

[10061,
 28830,
 38383,
 50399,
 53200,
 56011,
 56452,
 58723,
 68012,
 71955,
 80047,
 80348,
 85724,
 85783,
 103597,
 105962,
 115711,
 117856,
 125356,
 126633,
 126898]

In [75]:
df5.loc[10061]

Unnamed: 0                                        1515
datetime                           2021-09-07 14:28:00
network                                        BBCNEWS
duration                                          11.0
network_info    BBCNEWS_20210907_130000_BBC_News/start
text                                               NaN
Name: 10061, dtype: object

In [76]:
df5.loc[115711]

Unnamed: 0                                 345
datetime                   2021-10-30 03:32:00
network                                   CNNW
duration                                  26.0
network_info    CNNW_20211030_030000_Don_Lemon
text                                       NaN
Name: 115711, dtype: object

In [77]:
df5.drop(index=lst5, inplace=True)

In [78]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018278 entries, 0 to 1018325
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1018278 non-null  int64
 1   datetime      1018278 non-null  object
 2   network       1018278 non-null  object
 3   duration      1018278 non-null  float64
 4   network_info  978719 non-null   object
 5   text          1018278 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 54.4+ MB

In [79]:
lst5 = df5[df5["network_info"].isnull()].index.tolist()

In [80]:
lst5

[7,
 9,
 11,
 13,
 16,
 18,
 21,
 23,
 26,
 31,
 33,
 68,
 70,
 105,
 108,
 111,
 113,
 116,
 119,
 124,
 127,
 133,
 141,
 143,
 146,
 148,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 224,
 226,
 249,
 250,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 271,
 274,
 276,
 278,
 280,
 284,
 313,
 314,
 315,
 317,
 319,
 322,
 327,
 330,
 334,
 337,
 340,
 344,
 346,
 348,
 352,
 355,
 358,
 360,
 374,
 376,
 746,
 751,
 753,
 755,
 757,
 759,
 761,
 762,
 764,
 766,
 772,
 773,
 836,
 839,
 842,
 845,
 857,
 861,
 865,
 868,
 874,
 903,
 906,
 908,
 910,
 915,
 917,
 919,
 921,
 923,
 927,
 930,
 936,
 939,
 943,
 947,
 951,
 974,
 989,
 993,
 1003,
 2477,
 2479,
 2480,
 2482,
 2485,
 2488,
 2490,
 2491,
 2498,
 2502,
 2505,
 2593,
 2598,
 2600,
 2603,
 2606,
 2610,
 2614,
 2617,
 2619,
 2622,
 2625,
 2629,
 2633,
 2636,
 2638,
 2641,
 2644,
 2646,
 2654,
 2662,
 2677,
 2681,
 2683,
 2688,
 2692,
 2695,
 2698,
 2714,
 2716,
 2737,
 2739,
 2742,
 2744,
 2745,
 2747,
 2750,
 2753,
 2757,
 2758,
 3261,
 3264,
 3265,
 3266,
 3269,
 3274,
 3276,
 3278,
 3282,
 3283,
 3285,
 3286,
 3288,
 3290,
 3294,
 3305,
 3308,
 3341,
 3343,
 3344,
 3345,
 3346,
 3347,
 3348,
 3350,
 3352,
 3401,
 3403,
 3405,
 3412,
 3424,
 3427,
 3430,
 3433,
 3436,
 3440,
 3447,
 3451,
 3454,
 3456,
 3459,
 3460,
 3469,
 3471,
 3473,
 3474,
 3494,
 3496,
 3499,
 3501,
 3503,
 3505,
 3507,
 3510,
 3513,
 3515,
 4155,
 4159,
 4201,
 4203,
 4205,
 4208,
 4210,
 4213,
 4215,
 4218,
 4221,
 4222,
 4227,
 4232,
 4235,
 4240,
 4241,
 4243,
 4245,
 4247,
 4249,
 4252,
 4254,
 4255,
 4257,
 4260,
 4263,
 4266,
 4290,
 4293,
 4295,
 4296,
 4299,
 4301,
 4304,
 4306,
 4308,
 4310,
 4313,
 4317,
 4319,
 4370,
 4374,
 4375,
 4376,
 4377,
 4379,
 4381,
 4384,
 4385,
 4386,
 4393,
 4396,
 4405,
 4413,
 4418,
 4421,
 4441,
 4443,
 4446,
 4447,
 4448,
 4450,
 4451,
 4452,
 4454,
 4455,
 4456,
 4457,
 4483,
 4484,
 4485,
 4486,
 4487,
 4488,
 4489,
 4492,
 4493,
 4494,
 4497,
 4498,
 4499,
 4500,
 4502,
 4503,
 4505,
 4506,
 4509,
 4519,
 4522,
 4524,
 4525,
 4526,
 4527,
 4529,
 4531,
 4534,
 4538,
 4870,
 4872,
 4877,
 4878,
 4879,
 4880,
 4881,
 4882,
 4883,
 4886,
 4887,
 4889,
 4890,
 4891,
 4893,
 4895,
 4899,
 4913,
 4914,
 4915,
 4916,
 4917,
 4918,
 4919,
 4920,
 4921,
 4922,
 4923,
 4924,
 4925,
 4926,
 4937,
 4938,
 4944,
 4945,
 4946,
 4947,
 4948,
 4949,
 4950,
 4951,
 4952,
 4953,
 4954,
 4955,
 4956,
 4957,
 4962,
 4963,
 4964,
 4965,
 4967,
 4968,
 4970,
 4971,
 4972,
 4974,
 4975,
 4976,
 4996,
 5011,
 5013,
 5017,
 5026,
 5048,
 5262,
 5265,
 5268,
 5273,
 5277,
 5281,
 5285,
 5286,
 5288,
 5290,
 5295,
 5298,
 5305,
 5309,
 5355,
 5358,
 5360,
 5362,
 5366,
 5372,
 5375,
 5420,
 5421,
 5422,
 5423,
 5424,
 5425,
 5429,
 5431,
 5433,
 5435,
 5437,
 5439,
 5440,
 5441,
 5443,
 5444,
 5472,
 5476,
 5483,
 5486,
 5489,
 5767,
 5769,
 5770,
 5773,
 5774,
 5775,
 5779,
 5780,
 5781,
 5782,
 5784,
 5785,
 5788,
 5789,
 5797,
 5798,
 5805,
 5807,
 5812,
 5813,
 5814,
 5815,
 5817,
 5819,
 5821,
 5823,
 5825,
 5839,
 5860,
 5862,
 5864,
 5866,
 5867,
 5870,
 5872,
 5874,
 5877,
 5879,
 5881,
 5883,
 5885,
 5887,
 5891,
 5895,
 5898,
 5900,
 5902,
 5904,
 5905,
 5906,
 5907,
 5916,
 5919,
 5921,
 5922,
 5926,
 5932,
 5933,
 5936,
 5938,
 5939,
 5944,
 5946,
 5955,
 5960,
 5963,
 5966,
 5969,
 5972,
 5975,
 5978,
 5981,
 5983,
 5985,
 5986,
 6018,
 6019,
 6020,
 6025,
 6026,
 6027,
 6028,
 6029,
 6030,
 6031,
 6032,
 6033,
 6034,
 6035,
 6036,
 6037,
 6038,
 6039,
 6040,
 6041,
 6042,
 6043,
 6044,
 6045,
 6046,
 6047,
 6048,
 6049,
 6050,
 6051,
 6052,
 6053,
 6054,
 6055,
 6056,
 6057,
 6058,
 6059,
 6060,
 6061,
 6080,
 6081,
 6095,
 6099,
 6112,
 6114,
 6123,
 6124,
 6133,
 6136,
 6152,
 6153,
 6168,
 6172,
 6191,
 6192,
 6193,
 6194,
 6195,
 6197,
 6199,
 6200,
 6201,
 6214,
 6215,
 6216,
 6217,
 6218,
 6219,
 6220,
 6221,
 6222,
 6223,
 6224,
 6225,
 6226,
 6227,
 6228,
 6229,
 6230,
 6231,
 6232,
 6233,
 6234,
 6235,
 6316,
 6317,
 6318,
 6319,
 6320,
 6321,
 6322,
 6323,
 6324,
 6325,
 6326,
 6327,
 6328,
 6336,
 6337,
 6338,
 6339,
 6340,
 6341,
 6342,
 6343,
 6345,
 6346,
 6347,
 6394,
 6396,
 8549,
 8551,
 8553,
 8554,
 8556,
 8558,
 8561,
 8563,
 8565,
 8567,
 8609,
 8611,
 8612,
 8614,
 8616,
 8618,
 8623,
 8627,
 8629,
 8631,
 8633,
 8635,
 8636,
 8640,
 8641,
 8643,
 8646,
 8669,
 8670,
 8672,
 8673,
 8674,
 8675,
 8677,
 8682,
 9869,
 9871,
 9873,
 9875,
 9877,
 9879,
 9881,
 9883,
 9886,
 9889,
 9892,
 9895,
 9899,
 9906,
 9909,
 9911,
 9914,
 9917,
 9919,
 9921,
 9923,
 9925,
 9928,
 9930,
 9933,
 9936,
 9938,
 9940,
 9943,
 9945,
 9948,
 9950,
 9952,
 9954,
 9957,
 9960,
 9963,
 9965,
 9967,
 9969,
 9972,
 9974,
 9977,
 9979,
 9982,
 9984,
 9987,
 9988,
 9993,
 9998,
 10004,
 10006,
 10009,
 10012,
 10015,
 10018,
 10020,
 10023,
 10025,
 10028,
 10029,
 10397,
 10400,
 10402,
 10404,
 10407,
 10410,
 10413,
 10415,
 10417,
 10420,
 10423,
 10426,
 10428,
 10431,
 10433,
 10434,
 10437,
 10440,
 10447,
 10466,
 10467,
 10476,
 10478,
 10479,
 10482,
 10484,
 10487,
 10489,
 10491,
 10521,
 10526,
 10529,
 10530,
 10533,
 10536,
 10541,
 10545,
 10548,
 11533,
 11536,
 11540,
 11543,
 11547,
 11550,
 11553,
 11557,
 11560,
 11564,
 11567,
 11570,
 11574,
 11577,
 11580,
 11582,
 11586,
 11589,
 11593,
 11597,
 11600,
 11603,
 11607,
 11609,
 11611,
 11614,
 11617,
 11620,
 11623,
 11627,
 11631,
 11634,
 11638,
 11640,
 11644,
 11646,
 11649,
 11652,
 11654,
 11655,
 11656,
 11659,
 11661,
 11663,
 11666,
 11670,
 11672,
 11675,
 11679,
 11683,
 11687,
 11695,
 11699,
 11703,
 11707,
 11710,
 11713,
 11716,
 11720,
 11724,
 11728,
 11732,
 11736,
 11743,
 11747,
 11749,
 11751,
 12134,
 12137,
 12145,
 12149,
 12164,
 12165,
 12190,
 12194,
 12208,
 12213,
 12235,
 12237,
 12240,
 12242,
 12244,
 12271,
 12276,
 12279,
 12282,
 12283,
 12291,
 12294,
 12297,
 12301,
 12305,
 12308,
 12311,
 12319,
 12323,
 12326,
 12328,
 12331,
 12334,
 12339,
 12342,
 12345,
 12349,
 12351,
 12353,
 12356,
 12359,
 12360,
 12375,
 12389,
 12393,
 12408,
 12412,
 12415,
 12419,
 12451,
 12455,
 12458,
 12459,
 12464,
 12468,
 12476,
 12481,
 12483,
 12486,
 12490,
 12493,
 12496,
 12498,
 12502,
 12503,
 12505,
 12508,
 12517,
 12520,
 12522,
 12525,
 12529,
 12531,
 12534,
 12538,
 12545,
 12547,
 12550,
 12553,
 12557,
 12559,
 12562,
 12564,
 12568,
 12572,
 12575,
 12578,
 12581,
 12759,
 12762,
 12766,
 12769,
 12772,
 12776,
 12782,
 12790,
 12795,
 12797,
 12799,
 12801,
 12822,
 12826,
 12830,
 12836,
 12841,
 12896,
 12901,
 12906,
 12910,
 12923,
 12926,
 12930,
 12934,
 12958,
 12961,
 12964,
 12967,
 12969,
 12971,
 12973,
 12976,
 12982,
 12990,
 12991,
 12993,
 12995,
 12998,
 13010,
 13015,
 13032,
 13036,
 13066,
 13068,
 13073,
 13075,
 13076,
 13078,
 13080,
 13083,
 13085,
 13087,
 13090,
 13093,
 13095,
 13097,
 13100,
 13130,
 13133,
 13136,
 13168,
 13173,
 13175,
 13177,
 13178,
 13179,
 13181,
 13184,
 13186,
 13187,
 13188,
 13191,
 13193,
 13196,
 13197,
 13200,
 13202,
 13204,
 13205,
 13206,
 13207,
 13208,
 13245,
 13248,
 13250,
 13252,
 13254,
 13256,
 13258,
 ...]

In [81]:
df5.loc[4946]

Unnamed: 0                                                    126
datetime                                      2021-09-05 03:09:00
network                                                   BBCNEWS
duration                                                     18.0
network_info                                                  NaN
text            Lebanon power shortages. Syria agrees to help ...
Name: 4946, dtype: object

In [82]:
df5.loc[7]

Unnamed: 0                                                      7
datetime                                      2021-09-02 00:05:00
network                                                   BBCNEWS
duration                                                     11.0
network_info                                                  NaN
text            Alghanistan: Taliban in power. Taliban: New go...
Name: 7, dtype: object

In [83]:
df6 = pd.read_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/raw/2022_data.csv")

In [84]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935926 entries, 0 to 935925
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    935926 non-null  int64
 1   datetime      935926 non-null  object
 2   network       935926 non-null  object
 3   duration      935926 non-null  int64
 4   network_info  921359 non-null  object
 5   text          935926 non-null  object
dtypes: int64(2), object(4)
memory usage: 42.8+ MB

In [85]:
df6["network"].unique()

array(['CNNW', 'FOXNEWSW', 'MSNBCW', 'BBCNEWS'], dtype=object)

In [86]:
lst6 = df6[df6["network_info"].isnull()].index.tolist()
lst6[:5]

[1733, 1735, 1737, 1738, 1741]

In [87]:
df6.loc[1733]

Unnamed: 0                             1733
datetime                2022-09-02 19:46:00
network                             BBCNEWS
duration                                 15
network_info                            NaN
text            [o]e]c VAT\n|. [8]e]c [YATS
Name: 1733, dtype: object

In [88]:
lst6[-5:]

[935882, 935884, 935887, 935895, 935900]

In [89]:
df6.loc[935900]

Unnamed: 0                     2838
datetime        2023-07-02 23:46:00
network                     BBCNEWS
duration                         10
network_info                    NaN
text                     . [O ENEWS
Name: 935900, dtype: object

In [90]:
df = pd.concat([df1, df2, df3, df4, df5, df6])

In [91]:
df.head()

,Unnamed: 0,datetime,network,duration,network_info,text
0,0,2017-09-07 00:53:00,BBCNEWS,17.0,BBCNEWS_20170907_004500_Sport_Today/start/480,JASON HOLDER. West Indies Captain\nSPORT TODAV
1,1,2017-09-07 01:04:00,CNNW,27.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...
2,2,2017-09-07 01:04:00,FOXNEWSW,34.0,FOXNEWSW_20170907_010000_The_Five/start/240,PRES TRUMP: NO SECOND THOUGHTS ON DACA DECISION
3,3,2017-09-07 01:05:00,CNNW,23.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...
4,4,2017-09-07 01:05:00,FOXNEWSW,7.0,FOXNEWSW_20170907_010000_The_Five/start/300,PRES TRUMP: TIME FOR CONGRE\u00a7\u00a7 TO TAC...

In [92]:
df.tail()

,Unnamed: 0,datetime,network,duration,network_info,text
935921,2859,2023-07-02 23:57:00,CNNW,10.0,CNNW_20230702_230000_CNN_Newsroom_With_Jim_Aco...,Mre in San Frai
935922,2860,2023-07-02 23:57:00,FOXNEWSW,34.0,FOXNEWSW_20230702_230000_The_Big_Weekend_Show/...,MAN'S BEST FRIEND. DOG COLLECTS FRISBEES TO RA...
935923,2861,2023-07-02 23:58:00,CNNW,26.0,CNNW_20230702_230000_CNN_Newsroom_With_Jim_Aco...,"2 DEAD, 28 INJURED DURING BALTIMORE BLOCK PART..."
935924,2862,2023-07-02 23:59:00,CNNW,28.0,CNNW_20230702_230000_CNN_Newsroom_With_Jim_Aco...,SRIRACHA SHORTAGE BOOSTS VALUE TO $7O A BOTTLE...
935925,2863,2023-07-02 23:59:00,FOXNEWSW,8.0,FOXNEWSW_20230702_230000_The_Big_Weekend_Show/...,JOIN JOEY JONES FOR A LIVE SIGNING. JULY 5 AT ...

In [93]:
df.shape

(4292039, 6)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4292039 entries, 0 to 935925
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   datetime      object
 2   network       object
 3   duration      float64
 4   network_info  object
 5   text          object
dtypes: float64(1), int64(1), object(4)
memory usage: 229.2+ MB

In [95]:
df["datetime"].unique()

array(['2017-09-07 00:53:00', '2017-09-07 01:04:00',
       '2017-09-07 01:05:00', ..., '2023-07-02 23:57:00',
       '2023-07-02 23:58:00', '2023-07-02 23:59:00'], dtype=object)

In [96]:
df["network"].unique()

array(['BBCNEWS', 'CNNW', 'FOXNEWSW', 'MSNBCW'], dtype=object)

In [97]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [98]:
df.head()

,datetime,network,duration,network_info,text
0,2017-09-07 00:53:00,BBCNEWS,17.0,BBCNEWS_20170907_004500_Sport_Today/start/480,JASON HOLDER. West Indies Captain\nSPORT TODAV
1,2017-09-07 01:04:00,CNNW,27.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...
2,2017-09-07 01:04:00,FOXNEWSW,34.0,FOXNEWSW_20170907_010000_The_Five/start/240,PRES TRUMP: NO SECOND THOUGHTS ON DACA DECISION
3,2017-09-07 01:05:00,CNNW,23.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...
4,2017-09-07 01:05:00,FOXNEWSW,7.0,FOXNEWSW_20170907_010000_The_Five/start/300,PRES TRUMP: TIME FOR CONGRE\u00a7\u00a7 TO TAC...

In [99]:
df.tail()

,datetime,network,duration,network_info,text
935921,2023-07-02 23:57:00,CNNW,10.0,CNNW_20230702_230000_CNN_Newsroom_With_Jim_Aco...,Mre in San Frai
935922,2023-07-02 23:57:00,FOXNEWSW,34.0,FOXNEWSW_20230702_230000_The_Big_Weekend_Show/...,MAN'S BEST FRIEND. DOG COLLECTS FRISBEES TO RA...
935923,2023-07-02 23:58:00,CNNW,26.0,CNNW_20230702_230000_CNN_Newsroom_With_Jim_Aco...,"2 DEAD, 28 INJURED DURING BALTIMORE BLOCK PART..."
935924,2023-07-02 23:59:00,CNNW,28.0,CNNW_20230702_230000_CNN_Newsroom_With_Jim_Aco...,SRIRACHA SHORTAGE BOOSTS VALUE TO $7O A BOTTLE...
935925,2023-07-02 23:59:00,FOXNEWSW,8.0,FOXNEWSW_20230702_230000_The_Big_Weekend_Show/...,JOIN JOEY JONES FOR A LIVE SIGNING. JULY 5 AT ...

In [100]:
lst_climate_change = list(np.where(df["text"].str.contains("(?i)climate change") == True))

In [101]:
lst_global_warming = list(np.where(df["text"].str.contains("(?i)global warming") == True))

In [102]:
lst_climate = list(np.where(df["text"].str.contains("(?i)climate") == True))

In [103]:
len(lst_climate_change[0]), len(lst_global_warming[0]), len(lst_climate[0])

(9350, 648, 19603)

In [104]:
lst_global_warming = lst_global_warming[0]

In [105]:
lst_climate = lst_climate[0]

In [106]:
lst_global_heating = list(np.where(df["text"].str.contains("(?i)global heating") == True))

In [107]:
lst_global_heating

[array([1880311, 1880391, 1880481, 1880486, 2290595, 2291178, 2324725,
        3264660, 3264664, 3264963, 3265094])]

In [108]:
lst_global_heating = lst_global_heating[0]

In [109]:
len(lst_global_heating)

11

In [110]:
lst_greenhouse_gas = list(np.where(df["text"].str.contains("(?i)greenhouse gas") == True))

In [111]:
lst_greenhouse_gas = lst_greenhouse_gas[0]

In [112]:
len(lst_greenhouse_gas)

250

In [113]:
greenhouse_gas = set(lst_greenhouse_gas)

In [114]:
global_heating = set(lst_global_heating)

In [115]:
climate = set(lst_climate)

In [116]:
global_warming = set(lst_global_warming)

In [117]:
climate = [x for x in lst_climate if x not in lst_global_heating if x not in lst_greenhouse_gas if x not in lst_global_warming]

In [118]:
len(climate)

19182

In [119]:
global_heating = [x for x in lst_global_heating if x not in climate if x not in lst_global_warming if x not in lst_greenhouse_gas]
len(global_heating)

10

In [120]:
global_warming = [x for x in lst_global_warming if x not in lst_global_heating if x not in lst_greenhouse_gas if x not in lst_climate]
len(global_warming)

359

In [121]:
greenhouse_gas = [x for x in lst_greenhouse_gas if x not in lst_global_heating if x not in lst_global_warming if x not in lst_climate]
len(greenhouse_gas)

116

In [122]:
all_words = climate + global_heating + global_warming + greenhouse_gas
len(all_words)

19667

In [123]:
all_words.sort()
all_words

[1953,
 2118,
 2177,
 3153,
 9621,
 9623,
 10994,
 10996,
 10997,
 10999,
 11123,
 11124,
 11126,
 11665,
 11667,
 11669,
 11671,
 11673,
 11675,
 11733,
 11738,
 11740,
 11746,
 11793,
 11853,
 11911,
 11939,
 12479,
 13452,
 13455,
 13456,
 13459,
 13462,
 13605,
 13608,
 13610,
 13611,
 14248,
 14331,
 14339,
 14340,
 14341,
 14342,
 14343,
 14347,
 14349,
 15142,
 15144,
 15261,
 15265,
 15270,
 16217,
 16231,
 16233,
 16496,
 16655,
 16657,
 16659,
 16665,
 16667,
 16888,
 17242,
 19447,
 19451,
 21974,
 21977,
 25768,
 25892,
 25894,
 25935,
 25951,
 25954,
 26101,
 26103,
 26105,
 26108,
 26110,
 26111,
 26240,
 26242,
 26296,
 26298,
 26300,
 26302,
 26303,
 26304,
 26330,
 26331,
 26430,
 26431,
 26433,
 26434,
 26435,
 26750,
 26825,
 26879,
 26898,
 26900,
 26902,
 26906,
 26911,
 26923,
 27275,
 27278,
 27281,
 27284,
 27286,
 27297,
 27298,
 27300,
 27303,
 27306,
 27308,
 27311,
 27441,
 27443,
 27446,
 27447,
 27449,
 27451,
 27531,
 27534,
 27686,
 27696,
 27698,
 27700,
 27702,
 27704,
 27719,
 27721,
 27724,
 27726,
 27728,
 27730,
 27733,
 27787,
 27789,
 27894,
 27921,
 27924,
 27990,
 28269,
 28272,
 28276,
 28384,
 28396,
 28409,
 28413,
 28414,
 29069,
 29089,
 29533,
 29568,
 29571,
 29575,
 29578,
 29668,
 29671,
 29747,
 29751,
 29754,
 30044,
 30047,
 30552,
 30565,
 30780,
 30806,
 30808,
 31130,
 31161,
 31165,
 31296,
 31299,
 31302,
 31306,
 31467,
 31491,
 31493,
 31496,
 31499,
 31507,
 31511,
 31513,
 31633,
 31639,
 31642,
 31805,
 31808,
 31936,
 31938,
 31940,
 31941,
 31968,
 31974,
 31978,
 32117,
 32362,
 32366,
 32369,
 33891,
 33896,
 34328,
 34332,
 34474,
 34582,
 34705,
 34974,
 34976,
 34978,
 36136,
 36138,
 36338,
 36506,
 36509,
 36511,
 36515,
 36516,
 36518,
 36564,
 36567,
 36570,
 37225,
 37227,
 37229,
 37575,
 37578,
 37926,
 37930,
 37934,
 39504,
 45403,
 45405,
 45407,
 45411,
 45414,
 46084,
 46088,
 46089,
 46091,
 47756,
 47760,
 47762,
 47765,
 47768,
 51270,
 51273,
 51286,
 51639,
 51970,
 51976,
 69778,
 69810,
 80457,
 85308,
 85492,
 85497,
 85678,
 86099,
 86189,
 86277,
 86514,
 89796,
 90669,
 90672,
 93678,
 93679,
 93682,
 93684,
 93686,
 93688,
 93848,
 93851,
 95550,
 95552,
 97022,
 97110,
 97113,
 97116,
 97120,
 99449,
 107469,
 107471,
 107641,
 107646,
 108574,
 108580,
 120863,
 122638,
 122641,
 122644,
 122646,
 122665,
 122804,
 122911,
 122921,
 122923,
 122935,
 122992,
 122994,
 123000,
 123191,
 123333,
 123337,
 123346,
 123353,
 123751,
 123760,
 123765,
 123768,
 123881,
 123883,
 123886,
 123897,
 123899,
 124141,
 124144,
 124146,
 124152,
 125354,
 126014,
 126319,
 126326,
 126329,
 126334,
 126337,
 126710,
 126711,
 126714,
 126717,
 126718,
 126723,
 128530,
 128532,
 128657,
 128660,
 128663,
 128666,
 128670,
 130316,
 130517,
 130593,
 130690,
 130691,
 130692,
 130695,
 130698,
 130700,
 130985,
 131072,
 131199,
 131201,
 131544,
 132255,
 133152,
 133162,
 133229,
 133484,
 134770,
 135388,
 135393,
 135901,
 135903,
 136214,
 136216,
 138081,
 138430,
 143137,
 143140,
 143143,
 150029,
 152234,
 160704,
 160710,
 160914,
 161046,
 164840,
 164842,
 164845,
 164917,
 165804,
 165880,
 165975,
 165979,
 165981,
 165982,
 166066,
 166071,
 166074,
 166185,
 166189,
 166191,
 166192,
 166349,
 166432,
 166563,
 166567,
 166573,
 166687,
 166691,
 166693,
 166808,
 166815,
 166820,
 166939,
 166943,
 166948,
 166951,
 167027,
 167075,
 167078,
 167207,
 167212,
 167215,
 167506,
 167618,
 170340,
 170344,
 170347,
 170822,
 170826,
 171663,
 171664,
 171928,
 171932,
 172102,
 172105,
 172786,
 172789,
 172792,
 172796,
 173000,
 173003,
 175981,
 176032,
 176689,
 176893,
 176895,
 177437,
 177479,
 177557,
 178213,
 178216,
 179620,
 180501,
 180620,
 181051,
 181053,
 181954,
 182000,
 182001,
 185595,
 185597,
 188236,
 188384,
 188993,
 188995,
 190299,
 190301,
 190302,
 190305,
 190433,
 191736,
 191740,
 191741,
 191820,
 191823,
 191826,
 191829,
 192927,
 194099,
 196113,
 196118,
 196120,
 196523,
 197196,
 197197,
 197265,
 197267,
 197301,
 197305,
 197308,
 197312,
 197313,
 197628,
 199879,
 200100,
 200200,
 200325,
 202041,
 203261,
 204422,
 204426,
 204430,
 204433,
 204585,
 204587,
 204590,
 204594,
 210381,
 210384,
 210786,
 222822,
 222825,
 222827,
 222882,
 222895,
 222907,
 222909,
 222916,
 222919,
 222921,
 222924,
 230439,
 230440,
 230443,
 230444,
 230586,
 234400,
 234404,
 249592,
 251094,
 251096,
 251223,
 251226,
 254729,
 256577,
 256580,
 257013,
 257406,
 259088,
 259093,
 259096,
 259098,
 267613,
 267621,
 269174,
 269546,
 269548,
 270623,
 270625,
 273341,
 273344,
 273346,
 273348,
 273618,
 273622,
 273626,
 273967,
 273969,
 273974,
 274011,
 274014,
 274146,
 274149,
 274152,
 274502,
 274516,
 274519,
 274521,
 274523,
 274526,
 274759,
 274763,
 274766,
 274955,
 274957,
 274965,
 275480,
 275569,
 275662,
 283153,
 283155,
 286461,
 289523,
 289631,
 290280,
 290380,
 290383,
 290732,
 290734,
 291009,
 291241,
 297274,
 298294,
 300982,
 300989,
 300996,
 300999,
 301005,
 303720,
 304071,
 306346,
 309727,
 309730,
 309809,
 310622,
 311621,
 311738,
 311957,
 311959,
 311971,
 312829,
 312831,
 313586,
 313603,
 313607,
 313610,
 313672,
 313673,
 313680,
 313681,
 313930,
 313932,
 313937,
 313938,
 313942,
 314161,
 314298,
 314300,
 314408,
 314441,
 314508,
 315016,
 315019,
 315104,
 315137,
 315145,
 315149,
 315153,
 315156,
 315158,
 315304,
 315312,
 315314,
 315329,
 315332,
 315541,
 315545,
 315553,
 315557,
 315685,
 315743,
 315755,
 315760,
 315763,
 315767,
 315771,
 315852,
 315854,
 315856,
 315857,
 315860,
 315986,
 315996,
 316131,
 316134,
 316138,
 316372,
 316375,
 317739,
 317766,
 317767,
 317768,
 317771,
 317908,
 317910,
 317911,
 319141,
 320056,
 323564,
 328756,
 331282,
 331567,
 331568,
 339482,
 341711,
 341715,
 341717,
 341726,
 341729,
 341731,
 342423,
 342913,
 347881,
 347883,
 347884,
 353030,
 353348,
 356093,
 356095,
 356098,
 356166,
 356411,
 356529,
 357427,
 357431,
 357433,
 357801,
 357803,
 358760,
 359287,
 360200,
 364421,
 364855,
 367368,
 374326,
 374335,
 386319,
 386325,
 396567,
 396587,
 396935,
 396938,
 397078,
 419800,
 419892,
 421887,
 429545,
 429548,
 429787,
 429789,
 438560,
 438561,
 444760,
 444761,
 446195,
 471953,
 492231,
 500104,
 502634,
 502637,
 504208,
 504210,
 516389,
 516392,
 516496,
 516499,
 517078,
 517084,
 517086,
 517090,
 517251,
 517254,
 517256,
 518546,
 522613,
 538700,
 538704,
 539421,
 539472,
 539583,
 541420,
 541565,
 541669,
 541778,
 541975,
 543272,
 543273,
 543369,
 543458,
 543739,
 543748,
 543761,
 543782,
 543880,
 546467,
 549747,
 549803,
 552510,
 568793,
 569001,
 570273,
 570464,
 571539,
 584896,
 584897,
 588958,
 588959,
 593402,
 594214,
 604496,
 604501,
 604808,
 604816,
 606073,
 607903,
 607977,
 608038,
 608043,
 608050,
 608099,
 608105,
 608111,
 608114,
 608788,
 608935,
 610394,
 611304,
 611305,
 611945,
 611959,
 611962,
 612237,
 612541,
 612542,
 612560,
 623008,
 623011,
 623545,
 623546,
 623548,
 623551,
 623553,
 623557,
 624007,
 624009,
 624505,
 624780,
 647584,
 647586,
 664297,
 664299,
 664302,
 664303,
 667339,
 669720,
 669722,
 680427,
 680432,
 681312,
 686042,
 686184,
 686187,
 686312,
 686416,
 686419,
 686620,
 686622,
 686750,
 686753,
 686764,
 686890,
 686892,
 686902,
 686906,
 688889,
 689354,
 689521,
 689530,
 695437,
 695438,
 701573,
 701575,
 701921,
 721282,
 721283,
 721404,
 743136,
 743226,
 746273,
 754411,
 754414,
 756193,
 756275,
 756279,
 761151,
 767513,
 767515,
 767519,
 768279,
 768698,
 768700,
 768703,
 768704,
 768707,
 771714,
 771716,
 771720,
 771724,
 771726,
 771835,
 771838,
 771884,
 771887,
 775599,
 775608,
 775794,
 776213,
 776327,
 776330,
 777680,
 778216,
 778889,
 778892,
 784134,
 787281,
 787284,
 788451,
 789477,
 794619,
 797487,
 797492,
 799233,
 799236,
 800494,
 800500,
 802158,
 809422,
 809425,
 809428,
 809431,
 809434,
 809824,
 809826,
 809830,
 809833,
 809835,
 809838,
 827974,
 839494,
 841501,
 841503,
 860650,
 864883,
 864959,
 866726,
 866728,
 872115,
 874872,
 874874,
 874902,
 879690,
 880697,
 880701,
 882597,
 885153,
 886224,
 886227,
 886230,
 886232,
 887468,
 887887,
 890845,
 901843,
 901845,
 901846,
 901848,
 902206,
 902231,
 902233,
 902236,
 902238,
 909338,
 909349,
 909404,
 909415,
 909418,
 909468,
 909471,
 909483,
 909890,
 909894,
 909903,
 910045,
 910516,
 910519,
 910758,
 910761,
 920467,
 925634,
 925637,
 925782,
 930217,
 930219,
 930221,
 932840,
 932844,
 932846,
 932963,
 932964,
 932974,
 932977,
 932980,
 934226,
 934228,
 935019,
 935021,
 936149,
 936153,
 936154,
 936157,
 936426,
 940117,
 940120,
 940123,
 940126,
 940130,
 940213,
 940289,
 940291,
 ...]

In [124]:
all_words_df = df[df.index.isin(all_words)]

In [125]:
all_words_df.head()

,datetime,network,duration,network_info,text
1953,2017-09-07 17:10:00,BBCNEWS,5.0,BBCNEWS_20170907_170000_BBC_News_at_Six/start/600,"Dr DANN MITCHELL. Climate Scientist, Bristol U..."
2118,2017-09-07 18:37:00,BBCNEWS,4.0,BBCNEWS_20170907_180000_BBC_News/start/2220,"Dr DANN MITCHELL. Climate Scientist, Bristol U..."
2177,2017-09-07 19:13:00,BBCNEWS,4.0,BBCNEWS_20170907_190000_BBC_News/start/780,"Dr DANN MITCHELL. Climate Scientist, Bristol U..."
3153,2017-09-08 04:35:00,BBCNEWS,8.0,BBCNEWS_20170908_043000_World_Business_Report/...,HURRICANE COSTS. Irma expected to be among cos...
9621,2017-09-11 10:52:00,BBCNEWS,21.0,BBCNEWS_20170911_100000_BBC_Newsroom_Live/star...,UK ECONOMIC OUTLOOK. ICAEW says investment cli...

In [126]:
all_words_df["datetime"] = pd.to_datetime(all_words_df["datetime"])
all_words_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332 entries, 1953 to 935021
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      5332 non-null   datetime64[ns]
 1   network       5332 non-null   object
 2   duration      5332 non-null   float64
 3   network_info  5266 non-null   object
 4   text          5332 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 249.9+ KB

/var/folders/nv/lggm200n09vgfy5n8_6lcz6c0000gn/T/ipykernel_7482/4024157511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_words_df["datetime"] = pd.to_datetime(all_words_df["datetime"])

In [127]:
all_words_df["date"] = all_words_df["datetime"].dt.strftime("%Y-%m-%d")

/var/folders/nv/lggm200n09vgfy5n8_6lcz6c0000gn/T/ipykernel_7482/2714751511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_words_df["date"] = all_words_df["datetime"].dt.strftime("%Y-%m-%d")

In [128]:
all_words_df.head()

,datetime,network,duration,network_info,text,date
1953,2017-09-07 17:10:00,BBCNEWS,5.0,BBCNEWS_20170907_170000_BBC_News_at_Six/start/600,"Dr DANN MITCHELL. Climate Scientist, Bristol U...",2017-09-07
2118,2017-09-07 18:37:00,BBCNEWS,4.0,BBCNEWS_20170907_180000_BBC_News/start/2220,"Dr DANN MITCHELL. Climate Scientist, Bristol U...",2017-09-07
2177,2017-09-07 19:13:00,BBCNEWS,4.0,BBCNEWS_20170907_190000_BBC_News/start/780,"Dr DANN MITCHELL. Climate Scientist, Bristol U...",2017-09-07
3153,2017-09-08 04:35:00,BBCNEWS,8.0,BBCNEWS_20170908_043000_World_Business_Report/...,HURRICANE COSTS. Irma expected to be among cos...,2017-09-08
9621,2017-09-11 10:52:00,BBCNEWS,21.0,BBCNEWS_20170911_100000_BBC_Newsroom_Live/star...,UK ECONOMIC OUTLOOK. ICAEW says investment cli...,2017-09-11

In [129]:
all_words_df["date"].nunique()

809

In [130]:
all_words_df.shape

(5332, 6)

In [139]:
all_words_df["date"].nunique()

809

In [131]:
all_words_df.tail()

,datetime,network,duration,network_info,text,date
932980,2023-07-01 23:23:00,CNNW,44.0,CNNW_20230701_230000_CNN_Newsroom_With_Jim_Aco...,SOURCES: SPECIAL COUNSEL'S OFFICE STILL. INVES...,2023-07-01
934226,2023-07-02 11:32:00,CNNW,39.0,CNNW_20230702_110000_CNN_This_Morning_Weekend/...,Py | INTERIOR MINISTRY: 7OO+ DETAINED IN FIFTH...,2023-07-02
934228,2023-07-02 11:33:00,CNNW,42.0,CNNW_20230702_110000_CNN_This_Morning_Weekend/...,3 | MAYOR OF PARIS SUBURB SAYS HIS HOME WAS AT...,2023-07-02
935019,2023-07-02 17:06:00,CNNW,43.0,CNNW_20230702_170000_Fareed_Zakaria_GPS/start/360,FAREED'S TAKE. . Russia is a parasitic state\n...,2023-07-02
935021,2023-07-02 17:07:00,BBCNEWS,21.0,NaN,Nahel M's grandmother. [IEE NEWS Zakaria Abdel...,2023-07-02

In [132]:
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4292039 entries, 0 to 935925
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   datetime      datetime64[ns]
 1   network       object
 2   duration      float64
 3   network_info  object
 4   text          object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 196.5+ MB

In [133]:
df["date"] = df["datetime"].dt.strftime("%Y-%m-%d")

In [134]:
df.head()

,datetime,network,duration,network_info,text,date
0,2017-09-07 00:53:00,BBCNEWS,17.0,BBCNEWS_20170907_004500_Sport_Today/start/480,JASON HOLDER. West Indies Captain\nSPORT TODAV,2017-09-07
1,2017-09-07 01:04:00,CNNW,27.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...,2017-09-07
2,2017-09-07 01:04:00,FOXNEWSW,34.0,FOXNEWSW_20170907_010000_The_Five/start/240,PRES TRUMP: NO SECOND THOUGHTS ON DACA DECISION,2017-09-07
3,2017-09-07 01:05:00,CNNW,23.0,CNNW_20170907_010000_Anderson_Cooper_360/start...,CATEGORY 5 IRMA BARRELS TOWARD FLORIDA; HURRIC...,2017-09-07
4,2017-09-07 01:05:00,FOXNEWSW,7.0,FOXNEWSW_20170907_010000_The_Five/start/300,PRES TRUMP: TIME FOR CONGRE\u00a7\u00a7 TO TAC...,2017-09-07

In [140]:
df["date"].nunique()

1612

In [137]:
all_words_df.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/interim/third_eye_climate_words.csv")

In [136]:
df.to_csv("/Users/butler/Documents/GitHub/projects/tweets_climate_change/data/interim/third_eye_data.csv")